<a href="https://colab.research.google.com/github/samantha8990/finalproject/blob/main/Solved_Unsolved_MachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java

!pip install pyspark

update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java to provide /usr/bin/java (java) in manual mode
Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 65 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 65.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=c34a10b412168d251c453ce5985acb5f4af6689ddcdb4fb78dfd4273452f7362
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sparkDates").getOrCreate()

In [3]:
# Load in data
from pyspark import SparkFiles
url ="https://murderanalytics.s3.us-west-1.amazonaws.com/CleanData.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("CleanData.csv"), sep=",", header=True, inferSchema=True)
df.show()

+---+-------------+------+----+--------+--------------------+------+------+------+-------+--------------------+--------------------+--------------------+--------------------+
|_c0|     CNTYFIPS|Solved|Year|   Month|            Homicide|VicAge|VicSex|OffAge| OffSex|              Weapon|        Relationship|        Circumstance|           Situation|
+---+-------------+------+----+--------+--------------------+------+------+------+-------+--------------------+--------------------+--------------------+--------------------+
|  0|Anchorage, AK|   Yes|2016| January|Murder and non-ne...|    40|Female|    15|   Male|Firearm, type not...|              Sister|Circumstances und...|Multiple victims/...|
|  1|Anchorage, AK|   Yes|2016| January|Murder and non-ne...|    18|Female|    15|   Male|Firearm, type not...|              Sister|Circumstances und...|Multiple victims/...|
|  2|Anchorage, AK|   Yes|2016| January|Murder and non-ne...|    49|  Male|    34|   Male|Firearm, type not...|            Stranger|Felon killed by p...|Single victim/mul...|
|  3|Anchorage, AK|   Yes|2016| January|Murder and non-ne...|    32|Female|    33|   Male|Other or type unk...|                Wife|Circumstances und...|Single victim/sin...|
|  4|Anchorage, AK|    No|2016| January|Murder and non-ne...|    20|  Male|   999|Unknown|Firearm, type not...|Relationship not ...|Circumstances und...|Multiple victims/...|
|  5|Anchorage, AK|    No|2016| January|Murder and non-ne...|    19|Female|   999|Unknown|Firearm, type not...|Relationship not ...|Circumstances und...|Multiple victims/...|
|  6|Anchorage, AK|   Yes|2016| January|Manslaughter by n...|     2|  Male|    21| Female|Handgun - pistol,...|                 Son|Children playing ...|Single victim/sin...|
|  7|Anchorage, AK|   Yes|2016|February|Murder and non-ne...|    30|  Male|    17|   Male|Firearm, type not...|            Stranger|             Robbery|Single victim/sin...|
|  8|Anchorage, AK|    No|2016|   March|Murder and non-ne...|    24|  Male|   999|Unknown|Firearm, type not...|Relationship not ...|Circumstances und...|Single victim/unk...|
|  9|Anchorage, AK|   Yes|2016|   March|Murder and non-ne...|    30|  Male|    46|   Male|Firearm, type not...|              Friend|Felon killed by p...|Single victim/sin...|
| 10|Anchorage, AK|   Yes|2016|     May|Murder and non-ne...|    19|  Male|    23|   Male|Firearm, type not...|            Stranger|     Other arguments|Single victim/sin...|
| 11|Anchorage, AK|   Yes|2016|     May|Manslaughter by n...|    48|Female|    37|   Male|Strangulation - h...|          Girlfriend|All other manslau...|Single victim/sin...|
| 12|Anchorage, AK|   Yes|2016|    June|Murder and non-ne...|    30|Female|    34|   Male|Firearm, type not...|        Acquaintance|               Other|Single victim/sin...|
| 13|Anchorage, AK|   Yes|2016|    July|Murder and non-ne...|    49|Female|    45|   Male|Firearm, type not...|                Wife|               Other|Single victim/sin...|
| 14|Anchorage, AK|    No|2016|    July|Murder and non-ne...|    20|Female|   999|Unknown|Firearm, type not...|Relationship not ...|Circumstances und...|Multiple victims/...|
| 15|Anchorage, AK|    No|2016|    July|Murder and non-ne...|    41|  Male|   999|Unknown|Firearm, type not...|Relationship not ...|Circumstances und...|Multiple victims/...|
| 16|Anchorage, AK|   Yes|2016|    July|Murder and non-ne...|    30|  Male|    32|   Male|Firearm, type not...|        Acquaintance|               Other|Single victim/sin...|
| 17|Anchorage, AK|   Yes|2016|    July|Murder and non-ne...|    24|  Male|    37|   Male|Firearm, type not...|            Stranger|Felon killed by p...|Single victim/mul...|
| 18|Anchorage, AK|   Yes|2016|    July|Murder and non-ne...|     0|Female|    22| Female|Other or type unk...|            Daughter|               Other|Single victim/sin...|
| 19|Anchorage, AK|   Yes|2016|    July|Murder and non-ne...|    33|Female|    33|   Male|Knife or cutting ...|             Ex-wife|               Other|Single victim/sin...|
+---+-------------+------+----+--------+--------------------+------+------+------+-------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

Data Pre-Processing

In [4]:
import pandas as pd
data = df.toPandas()
data.head()

   _c0  ...                             Situation
0    0  ...      Multiple victims/single offender
1    1  ...      Multiple victims/single offender
2    2  ...      Single victim/multiple offenders
3    3  ...         Single victim/single offender
4    4  ...  Multiple victims/unknown offender(s)

[5 rows x 14 columns]

In [5]:
MLData = data[["CNTYFIPS","Solved", "Month", "VicAge", "OffSex", "Weapon", "Relationship"]]
MLData.head()

        CNTYFIPS Solved  ...                    Weapon                 Relationship
0  Anchorage, AK    Yes  ...  Firearm, type not stated                       Sister
1  Anchorage, AK    Yes  ...  Firearm, type not stated                       Sister
2  Anchorage, AK    Yes  ...  Firearm, type not stated                     Stranger
3  Anchorage, AK    Yes  ...     Other or type unknown                         Wife
4  Anchorage, AK     No  ...  Firearm, type not stated  Relationship not determined

[5 rows x 7 columns]

Using Machine Learning we will learn how you are going to DIE.

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import tensorflow
tensorflow.keras.__version__
from tensorflow.keras.utils import to_categorical
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Create numerical encoding for each unique column

In [7]:
#Solved
solved = np.unique(MLData['Solved'])
solved

array(['No', 'Yes'], dtype=object)

In [8]:
sle = LabelEncoder()
solved_labels = sle.fit_transform(MLData['Solved'])
solved_mappings = {index: label for index, label in 
                  enumerate(sle.classes_)}
solved_mappings

{0: 'No', 1: 'Yes'}

In [9]:
MLData['SolvedLabel'] = solved_labels
MLData.head(20)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         CNTYFIPS Solved  ...                 Relationship  SolvedLabel
0   Anchorage, AK    Yes  ...                       Sister            1
1   Anchorage, AK    Yes  ...                       Sister            1
2   Anchorage, AK    Yes  ...                     Stranger            1
3   Anchorage, AK    Yes  ...                         Wife            1
4   Anchorage, AK     No  ...  Relationship not determined            0
5   Anchorage, AK     No  ...  Relationship not determined            0
6   Anchorage, AK    Yes  ...                          Son            1
7   Anchorage, AK    Yes  ...                     Stranger            1
8   Anchorage, AK     No  ...  Relationship not determined            0
9   Anchorage, AK    Yes  ...                       Friend            1
10  Anchorage, AK    Yes  ...                     Stranger            1
11  Anchorage, AK    Yes  ...                   Girlfriend            1
12  Anchorage, AK    Yes  ...                 Acquaintance            1
13  Anchorage, AK    Yes  ...                         Wife            1
14  Anchorage, AK     No  ...  Relationship not determined            0
15  Anchorage, AK     No  ...  Relationship not determined            0
16  Anchorage, AK    Yes  ...                 Acquaintance            1
17  Anchorage, AK    Yes  ...                     Stranger            1
18  Anchorage, AK    Yes  ...                     Daughter            1
19  Anchorage, AK    Yes  ...                      Ex-wife            1

[20 rows x 8 columns]

In [10]:
#CNTYFIPS encoding
location = np.unique(MLData['CNTYFIPS'])
location

array(['Abbeville, SC', 'Acadia, LA', 'Accomack, VA', ..., 'Young, TX',
       'Yuba, CA', 'Yuma, AZ'], dtype=object)

In [11]:
cle = LabelEncoder()
location_labels = cle.fit_transform(MLData['CNTYFIPS'])
location_mappings = {index: label for index, label in 
                  enumerate(cle.classes_)}
location_mappings

{0: 'Abbeville, SC',
 1: 'Acadia, LA',
 2: 'Accomack, VA',
 3: 'Ada, ID',
 4: 'Adair, KY',
 5: 'Adair, MO',
 6: 'Adair, OK',
 7: 'Adams, CO',
 8: 'Adams, IL',
 9: 'Adams, MS',
 10: 'Adams, NE',
 11: 'Adams, OH',
 12: 'Adams, PA',
 13: 'Adams, WA',
 14: 'Adams, WI',
 15: 'Addison, VT',
 16: 'Aiken, SC',
 17: 'Aitkin, MN',
 18: 'Alachua, FL',
 19: 'Alamance, NC',
 20: 'Alameda, CA',
 21: 'Alamosa, CO',
 22: 'Albany, NY',
 23: 'Albany, WY',
 24: 'Albemarle, VA',
 25: 'Alexander, NC',
 26: 'Alexandria, VA',
 27: 'Alfalfa, OK',
 28: 'Alger, MI',
 29: 'Allegan, MI',
 30: 'Allegany, MD',
 31: 'Allegany, NY',
 32: 'Allegheny, PA',
 33: 'Allen, IN',
 34: 'Allen, KS',
 35: 'Allen, KY',
 36: 'Allen, LA',
 37: 'Allen, OH',
 38: 'Allendale, SC',
 39: 'Alpena, MI',
 40: 'Amador, CA',
 41: 'Amelia, VA',
 42: 'Amherst, VA',
 43: 'Anchorage, AK',
 44: 'Anderson, KS',
 45: 'Anderson, SC',
 46: 'Anderson, TN',
 47: 'Anderson, TX',
 48: 'Andrew, MO',
 49: 'Andrews, TX',
 50: 'Androscoggin, ME',
 51: 'Angelina, TX',
 52: 'Anne Arundel, MD',
 53: 'Anoka, MN',
 54: 'Anson, NC',
 55: 'Antrim, MI',
 56: 'Apache, AZ',
 57: 'Appanoose, IA',
 58: 'Appling, GA',
 59: 'Appomattox, VA',
 60: 'Aransas, TX',
 61: 'Arapahoe, CO',
 62: 'Archuleta, CO',
 63: 'Arenac, MI',
 64: 'Arkansas, AR',
 65: 'Arlington, VA',
 66: 'Armstrong, PA',
 67: 'Aroostook, ME',
 68: 'Ascension, LA',
 69: 'Ashland, OH',
 70: 'Ashland, WI',
 71: 'Ashley, AR',
 72: 'Ashtabula, OH',
 73: 'Asotin, WA',
 74: 'Assumption, LA',
 75: 'Atascosa, TX',
 76: 'Atchison, KS',
 77: 'Athens, OH',
 78: 'Atlantic, NJ',
 79: 'Attala, MS',
 80: 'Audrain, MO',
 81: 'Augusta, VA',
 82: 'Austin, TX',
 83: 'Autauga, AL',
 84: 'Avoyelles, LA',
 85: 'Bacon, GA',
 86: 'Bailey, TX',
 87: 'Baker, FL',
 88: 'Baldwin, AL',
 89: 'Baldwin, GA',
 90: 'Baltimore city, MD',
 91: 'Baltimore, MD',
 92: 'Bamberg, SC',
 93: 'Bandera, TX',
 94: 'Bannock, ID',
 95: 'Baraga, MI',
 96: 'Barbour, AL',
 97: 'Barbour, WV',
 98: 'Barnstable, MA',
 99: 'Barnwell, SC',
 100: 'Barren, KY',
 101: 'Barron, WI',
 102: 'Barrow, GA',
 103: 'Barry, MI',
 104: 'Barry, MO',
 105: 'Bartholomew, IN',
 106: 'Barton, KS',
 107: 'Bastrop, TX',
 108: 'Bates, MO',
 109: 'Bath, VA',
 110: 'Baxter, AR',
 111: 'Bay, FL',
 112: 'Bay, MI',
 113: 'Bayfield, WI',
 114: 'Beadle, SD',
 115: 'Beaufort, NC',
 116: 'Beaufort, SC',
 117: 'Beauregard, LA',
 118: 'Beaver, PA',
 119: 'Beaver, UT',
 120: 'Becker, MN',
 121: 'Beckham, OK',
 122: 'Bedford, PA',
 123: 'Bedford, TN',
 124: 'Bedford, VA',
 125: 'Bee, TX',
 126: 'Belknap, NH',
 127: 'Bell, KY',
 128: 'Bell, TX',
 129: 'Belmont, OH',
 130: 'Beltrami, MN',
 131: 'Ben Hill, GA',
 132: 'Benewah, ID',
 133: 'Bennett, SD',
 134: 'Bennington, VT',
 135: 'Bent, CO',
 136: 'Benton, AR',
 137: 'Benton, IN',
 138: 'Benton, MN',
 139: 'Benton, MO',
 140: 'Benton, OR',
 141: 'Benton, TN',
 142: 'Benton, WA',
 143: 'Bergen, NJ',
 144: 'Berkeley, SC',
 145: 'Berkeley, WV',
 146: 'Berks, PA',
 147: 'Berkshire, MA',
 148: 'Bernalillo, NM',
 149: 'Berrien, GA',
 150: 'Berrien, MI',
 151: 'Bertie, NC',
 152: 'Bethel, AK',
 153: 'Bexar, TX',
 154: 'Bibb, GA',
 155: 'Bienville, LA',
 156: 'Big Horn, MT',
 157: 'Bingham, ID',
 158: 'Black Hawk, IA',
 159: 'Blackford, IN',
 160: 'Blair, PA',
 161: 'Blanco, TX',
 162: 'Bleckley, GA',
 163: 'Bledsoe, TN',
 164: 'Blount, AL',
 165: 'Blount, TN',
 166: 'Blue Earth, MN',
 167: 'Boise, ID',
 168: 'Bolivar, MS',
 169: 'Bollinger, MO',
 170: 'Bond, IL',
 171: 'Bonner, ID',
 172: 'Bonneville, ID',
 173: 'Boone, AR',
 174: 'Boone, IA',
 175: 'Boone, IL',
 176: 'Boone, IN',
 177: 'Boone, KY',
 178: 'Boone, MO',
 179: 'Boone, WV',
 180: 'Bossier, LA',
 181: 'Botetourt, VA',
 182: 'Bottineau, ND',
 183: 'Boulder, CO',
 184: 'Boundary, ID',
 185: 'Bowie, TX',
 186: 'Bowman, ND',
 187: 'Box Elder, UT',
 188: 'Boyd, KY',
 189: 'Bradford, FL',
 190: 'Bradford, PA',
 191: 'Bradley, AR',
 192: 'Bradley, TN',
 193: 'Branch, MI',
 194: 'Brantley, GA',
 195: 'Braxton, WV',
 196: 'Brazoria, TX',
 197: 'Brazos, TX',
 198: 'Breathitt, KY',
 199: 'Breckinridge, KY',
 200: 'Bremer, IA',
 201: 'Brevard, FL',
 202: 'Brewster, TX',
 203: 'Bristol, MA',
 204: 'Bristol, RI',
 205: 'Bristol, VA',
 206: 'Broadwater, MT',
 207: 'Brookings, SD',
 208: 'Brooks, GA',
 209: 'Broome, NY',
 210: 'Broomfield, CO',
 211: 'Broward, FL',
 212: 'Brown, MN',
 213: 'Brown, NE',
 214: 'Brown, OH',
 215: 'Brown, SD',
 216: 'Brown, TX',
 217: 'Brown, WI',
 218: 'Brule, SD',
 219: 'Brunswick, NC',
 220: 'Brunswick, VA',
 221: 'Bryan, GA',
 222: 'Bryan, OK',
 223: 'Buchanan, IA',
 224: 'Buchanan, MO',
 225: 'Buchanan, VA',
 226: 'Buckingham, VA',
 227: 'Bucks, PA',
 228: 'Buffalo, NE',
 229: 'Bullitt, KY',
 230: 'Bulloch, GA',
 231: 'Bullock, AL',
 232: 'Buncombe, NC',
 233: 'Bureau, IL',
 234: 'Burke, GA',
 235: 'Burke, NC',
 236: 'Burleigh, ND',
 237: 'Burleson, TX',
 238: 'Burlington, NJ',
 239: 'Burnet, TX',
 240: 'Burnett, WI',
 241: 'Burt, NE',
 242: 'Butler, AL',
 243: 'Butler, KS',
 244: 'Butler, MO',
 245: 'Butler, OH',
 246: 'Butler, PA',
 247: 'Butte, CA',
 248: 'Butts, GA',
 249: 'Cabarrus, NC',
 250: 'Cabell, WV',
 251: 'Cache, UT',
 252: 'Caddo, LA',
 253: 'Caddo, OK',
 254: 'Calaveras, CA',
 255: 'Calcasieu, LA',
 256: 'Caldwell, KY',
 257: 'Caldwell, LA',
 258: 'Caldwell, MO',
 259: 'Caldwell, NC',
 260: 'Caldwell, TX',
 261: 'Caledonia, VT',
 262: 'Calhoun, AL',
 263: 'Calhoun, AR',
 264: 'Calhoun, FL',
 265: 'Calhoun, GA',
 266: 'Calhoun, MI',
 267: 'Calhoun, SC',
 268: 'Calhoun, TX',
 269: 'Callaway, MO',
 270: 'Calloway, KY',
 271: 'Calumet, WI',
 272: 'Calvert, MD',
 273: 'Cambria, PA',
 274: 'Camden, GA',
 275: 'Camden, MO',
 276: 'Camden, NJ',
 277: 'Cameron, LA',
 278: 'Cameron, PA',
 279: 'Cameron, TX',
 280: 'Camp, TX',
 281: 'Campbell, KY',
 282: 'Campbell, TN',
 283: 'Campbell, VA',
 284: 'Campbell, WY',
 285: 'Canadian, OK',
 286: 'Candler, GA',
 287: 'Cannon, TN',
 288: 'Canyon, ID',
 289: 'Cape Girardeau, MO',
 290: 'Cape May, NJ',
 291: 'Carbon, MT',
 292: 'Carbon, PA',
 293: 'Carbon, WY',
 294: 'Carlton, MN',
 295: 'Caroline, MD',
 296: 'Caroline, VA',
 297: 'Carroll, AR',
 298: 'Carroll, GA',
 299: 'Carroll, MD',
 300: 'Carroll, NH',
 301: 'Carroll, TN',
 302: 'Carroll, VA',
 303: 'Carson City city, NV',
 304: 'Carson, TX',
 305: 'Carter, KY',
 306: 'Carter, MO',
 307: 'Carter, MT',
 308: 'Carter, OK',
 309: 'Carter, TN',
 310: 'Carteret, NC',
 311: 'Carver, MN',
 312: 'Cascade, MT',
 313: 'Cass, IA',
 314: 'Cass, IN',
 315: 'Cass, MI',
 316: 'Cass, MN',
 317: 'Cass, MO',
 318: 'Cass, ND',
 319: 'Cass, NE',
 320: 'Cass, TX',
 321: 'Cassia, ID',
 322: 'Castro, TX',
 323: 'Caswell, NC',
 324: 'Catawba, NC',
 325: 'Catoosa, GA',
 326: 'Cattaraugus, NY',
 327: 'Cayuga, NY',
 328: 'Cecil, MD',
 329: 'Cedar, MO',
 330: 'Centre, PA',
 331: 'Cerro Gordo, IA',
 332: 'Chambers, AL',
 333: 'Chambers, TX',
 334: 'Champaign, IL',
 335: 'Champaign, OH',
 336: 'Charles City, VA',
 337: 'Charles Mix, SD',
 338: 'Charles, MD',
 339: 'Charleston, SC',
 340: 'Charlevoix, MI',
 341: 'Charlotte, FL',
 342: 'Charlotte, VA',
 343: 'Charlottesville, VA',
 344: 'Charlton, GA',
 345: 'Chase, NE',
 346: 'Chatham, GA',
 347: 'Chatham, NC',
 348: 'Chautauqua, KS',
 349: 'Chautauqua, NY',
 350: 'Chaves, NM',
 351: 'Cheatham, TN',
 352: 'Chelan, WA',
 353: 'Chemung, NY',
 354: 'Chenango, NY',
 355: 'Cherokee, AL',
 356: 'Cherokee, GA',
 357: 'Cherokee, KS',
 358: 'Cherokee, NC',
 359: 'Cherokee, OK',
 360: 'Cherokee, SC',
 361: 'Cherokee, TX',
 362: 'Cherry, NE',
 363: 'Chesapeake, VA',
 364: 'Cheshire, NH',
 365: 'Chester, PA',
 366: 'Chester, SC',
 367: 'Chester, TN',
 368: 'Chesterfield, SC',
 369: 'Chesterfield, VA',
 370: 'Cheyenne, NE',
 371: 'Chickasaw, IA',
 372: 'Chicot, AR',
 373: 'Chilton, AL',
 374: 'Chippewa, MI',
 375: 'Chippewa, MN',
 376: 'Chippewa, WI',
 377: 'Chisago, MN',
 378: 'Chittenden, VT',
 379: 'Choctaw, AL',
 380: 'Choctaw, MS',
 381: 'Choctaw, OK',
 382: 'Chowan, NC',
 383: 'Christian, IL',
 384: 'Christian, KY',
 385: 'Christian, MO',
 386: 'Churchill, NV',
 387: 'Cibola, NM',
 388: 'Citrus, FL',
 389: 'Clackamas, OR',
 390: 'Claiborne, MS',
 391: 'Claiborne, TN',
 392: 'Clallam, WA',
 393: 'Clare, MI',
 394: 'Clarendon, SC',
 395: 'Clark, AR',
 396: 'Clark, IL',
 397: 'Clark, IN',
 398: 'Clark, KY',
 399: 'Clark, NV',
 400: 'Clark, OH',
 401: 'Clark, WA',
 402: 'Clark, WI',
 403: 'Clarke, AL',
 404: 'Clarke, GA',
 405: 'Clarke, VA',
 406: 'Clatsop, OR',
 407: 'Clay, AR',
 408: 'Clay, FL',
 409: 'Clay, IA',
 410: 'Clay, IL',
 411: 'Clay, KY',
 412: 'Clay, MN',
 413: 'Clay, MO',
 414: 'Clay, MS',
 415: 'Clay, NC',
 416: 'Clay, TX',
 417: 'Clay, WV',
 418: 'Clayton, GA',
 419: 'Clear Creek, CO',
 420: 'Clearfield, PA',
 421: 'Clearwater, ID',
 422: 'Cleburne, AR',
 423: 'Clermont, OH',
 424: 'Cleveland, AR',
 425: 'Cleveland, NC',
 426: 'Cleveland, OK',
 427: 'Clifton Forge, VA',
 428: 'Clinch, GA',
 429: 'Clinton, IA',
 430: 'Clinton, IN',
 431: 'Clinton, KY',
 432: 'Clinton, MO',
 433: 'Clinton, NY',
 434: 'Clinton, OH',
 435: 'Clinton, PA',
 436: 'Cobb, GA',
 437: 'Cochise, AZ',
 438: 'Cocke, TN',
 439: 'Coconino, AZ',
 440: 'Codington, SD',
 441: 'Coffee, AL',
 442: 'Coffee, GA',
 443: 'Coffee, TN',
 444: 'Coffey, KS',
 445: 'Coke, TX',
 446: 'Colbert, AL',
 447: 'Cole, MO',
 448: 'Coles, IL',
 449: 'Colleton, SC',
 450: 'Collier, FL',
 451: 'Collin, TX',
 452: 'Colonial Heights, VA',
 453: 'Colorado, TX',
 454: 'Colquitt, GA',
 455: 'Columbia, AR',
 456: 'Columbia, FL',
 457: 'Columbia, GA',
 458: 'Columbia, NY',
 459: 'Columbia, OR',
 460: 'Columbia, PA',
 461: 'Columbia, WI',
 462: 'Columbiana, OH',
 463: 'Columbus, NC',
 464: 'Colusa, CA',
 465: 'Comal, TX',
 466: 'Comanche, OK',
 467: 'Comanche, TX',
 468: 'Concordia, LA',
 469: 'Conecuh, AL',
 470: 'Contra Costa, CA',
 471: 'Converse, WY',
 472: 'Conway, AR',
 473: 'Cook, GA',
 474: 'Cook, IL',
 475: 'Cooke, TX',
 476: 'Coos, NH',
 477: 'Coos, OR',
 478: 'Coosa, AL',
 479: 'Cortland, NY',
 480: 'Coryell, TX',
 481: 'Coshocton, OH',
 482: 'Cottle, TX',
 483: 'Cottonwood, MN',
 484: 'Covington, AL',
 485: 'Coweta, GA',
 486: 'Cowley, KS',
 487: 'Cowlitz, WA',
 488: 'Craig, VA',
 489: 'Craighead, AR',
 490: 'Craven, NC',
 491: 'Crawford, AR',
 492: 'Crawford, GA',
 493: 'Crawford, IN',
 494: 'Crawford, KS',
 495: 'Crawford, MO',
 496: 'Crawford, PA',
 497: 'Crawford, WI',
 498: 'Creek, OK',
 499: 'Crenshaw, AL',
 500: 'Crisp, GA',
 501: 'Crittenden, AR',
 502: 'Crockett, TN',
 503: 'Crook, OR',
 504: 'Cross, AR',
 505: 'Crow Wing, MN',
 506: 'Crowley, CO',
 507: 'Cullman, AL',
 508: 'Culpeper, VA',
 509: 'Cumberland, ME',
 510: 'Cumberland, NC',
 511: 'Cumberland, NJ',
 512: 'Cumberland, PA',
 513: 'Cumberland, TN',
 514: 'Cumberland, VA',
 515: 'Cuming, NE',
 516: 'Curry, NM',
 517: 'Custer, ID',
 518: 'Custer, MT',
 519: 'Custer, OK',
 520: 'Cuyahoga, OH',
 521: 'Dade, MO',
 522: 'Dakota, MN',
 523: 'Dakota, NE',
 524: 'Dale, AL',
 525: 'Dallam, TX',
 526: 'Dallas, AL',
 527: 'Dallas, AR',
 528: 'Dallas, IA',
 529: 'Dallas, MO',
 530: 'Dallas, TX',
 531: 'Dane, WI',
 532: 'Danville, VA',
 533: 'Dare, NC',
 534: 'Darlington, SC',
 535: 'Dauphin, PA',
 536: 'Davidson, NC',
 537: 'Davidson, TN',
 538: 'Davie, NC',
 539: 'Daviess, IN',
 540: 'Daviess, KY',
 541: 'Daviess, MO',
 542: 'Davis, UT',
 543: 'Davison, SD',
 544: 'Dawson, GA',
 545: 'Dawson, MT',
 546: 'Dawson, NE',
 547: 'Dawson, TX',
 548: 'De Kalb, AL',
 549: 'De Kalb, GA',
 550: 'De Kalb, IN',
 551: 'De Kalb, MO',
 552: 'De Soto, FL',
 553: 'De Soto, LA',
 554: 'De Witt, TX',
 555: 'DeKalb, IL',
 556: 'DeKalb, TN',
 557: 'DeSoto, MS',
 558: 'Dearborn, IN',
 559: 'Decatur, GA',
 560: 'Decatur, IA',
 561: 'Decatur, TN',
 562: 'Deer Lodge, MT',
 563: 'Defiance, OH',
 564: 'Del Norte, CA',
 565: 'Delaware, IA',
 566: 'Delaware, IN',
 567: 'Delaware, NY',
 568: 'Delaware, OH',
 569: 'Delaware, OK',
 570: 'Delaware, PA',
 571: 'Delta, CO',
 572: 'Delta, MI',
 573: 'Dent, MO',
 574: 'Denton, TX',
 575: 'Denver, CO',
 576: 'Des Moines, IA',
 577: 'Deschutes, OR',
 578: 'Desha, AR',
 579: 'Deuel, NE',
 580: 'Dewey, SD',
 581: 'Dickenson, VA',
 582: 'Dickinson, IA',
 583: 'Dickinson, KS',
 584: 'Dickinson, MI',
 585: 'Dickson, TN',
 586: 'Dillingham, AK',
 587: 'Dillon, SC',
 588: 'Dimmit, TX',
 589: 'Dinwiddie, VA',
 590: 'District of Columbia',
 591: 'Dixie, FL',
 592: 'Dodge, GA',
 593: 'Dodge, MN',
 594: 'Dodge, WI',
 595: 'Dona Ana, NM',
 596: 'Doniphan, KS',
 597: 'Donley, TX',
 598: 'Dooly, GA',
 599: 'Door, WI',
 600: 'Dorchester, MD',
 601: 'Dorchester, SC',
 602: 'Dougherty, GA',
 603: 'Douglas, CO',
 604: 'Douglas, GA',
 605: 'Douglas, KS',
 606: 'Douglas, MN',
 607: 'Douglas, MO',
 608: 'Douglas, NE',
 609: 'Douglas, NV',
 610: 'Douglas, OR',
 611: 'Douglas, WA',
 612: 'Douglas, WI',
 613: 'Drew, AR',
 614: 'DuPage, IL',
 615: 'Dubois, IN',
 616: 'Dubuque, IA',
 617: 'Duchesne, UT',
 618: 'Dunklin, MO',
 619: 'Dunn, WI',
 620: 'Duplin, NC',
 621: 'Durham, NC',
 622: 'Dutchess, NY',
 623: 'Duval, FL',
 624: 'Duval, TX',
 625: 'Dyer, TN',
 626: 'Eagle, CO',
 627: 'East Baton Rouge, LA',
 628: 'East Carroll, LA',
 629: 'East Feliciana, LA',
 630: 'Eastland, TX',
 631: 'Eaton, MI',
 632: 'Eau Claire, WI',
 633: 'Ector, TX',
 634: 'Eddy, NM',
 635: 'Edgecombe, NC',
 636: 'Edgefield, SC',
 637: 'Edwards, KS',
 638: 'Effingham, GA',
 639: 'Effingham, IL',
 640: 'El Dorado, CA',
 641: 'El Paso, CO',
 642: 'El Paso, TX',
 643: 'Elbert, CO',
 644: 'Elbert, GA',
 645: 'Elk, PA',
 646: 'Elkhart, IN',
 647: 'Elko, NV',
 648: 'Ellis, KS',
 649: 'Ellis, TX',
 650: 'Ellsworth, KS',
 651: 'Elmore, AL',
 652: 'Elmore, ID',
 653: 'Emanuel, GA',
 654: 'Emery, UT',
 655: 'Emmet, IA',
 656: 'Emmet, MI',
 657: 'Emporia, VA',
 658: 'Erath, TX',
 659: 'Erie, NY',
 660: 'Erie, OH',
 661: 'Erie, PA',
 662: 'Escambia, AL',
 663: 'Escambia, FL',
 664: 'Essex, MA',
 665: 'Essex, NJ',
 666: 'Essex, NY',
 667: 'Essex, VT',
 668: 'Estill, KY',
 669: 'Etowah, AL',
 670: 'Evangeline, LA',
 671: 'Fairbanks North Star, AK',
 672: 'Fairfax, VA',
 673: 'Fairfield, CT',
 674: 'Fairfield, SC',
 675: 'Falls, TX',
 676: 'Fannin, GA',
 677: 'Fannin, TX',
 678: 'Faulkner, AR',
 679: 'Fauquier, VA',
 680: 'Fayette, GA',
 681: 'Fayette, IA',
 682: 'Fayette, KY',
 683: 'Fayette, OH',
 684: 'Fayette, PA',
 685: 'Fayette, TN',
 686: 'Fayette, TX',
 687: 'Fayette, WV',
 688: 'Fentress, TN',
 689: 'Fillmore, MN',
 690: 'Finney, KS',
 691: 'Fisher, TX',
 692: 'Flagler, FL',
 693: 'Flathead, MT',
 694: 'Florence, SC',
 695: 'Floyd, GA',
 696: 'Floyd, IA',
 697: 'Floyd, IN',
 698: 'Floyd, TX',
 699: 'Floyd, VA',
 700: 'Fluvanna, VA',
 701: 'Fond du Lac, WI',
 702: 'Ford, IL',
 703: 'Ford, KS',
 704: 'Forest, WI',
 705: 'Forrest, MS',
 706: 'Forsyth, GA',
 707: 'Forsyth, NC',
 708: 'Fort Bend, TX',
 709: 'Franklin, AL',
 710: 'Franklin, AR',
 711: 'Franklin, FL',
 712: 'Franklin, GA',
 713: 'Franklin, ID',
 714: 'Franklin, IL',
 715: 'Franklin, IN',
 716: 'Franklin, KY',
 717: 'Franklin, LA',
 718: 'Franklin, MA',
 719: 'Franklin, ME',
 720: 'Franklin, MO',
 721: 'Franklin, NC',
 722: 'Franklin, NY',
 723: 'Franklin, OH',
 724: 'Franklin, PA',
 725: 'Franklin, TN',
 726: 'Franklin, TX',
 727: 'Franklin, VA',
 728: 'Franklin, VT',
 729: 'Franklin, WA',
 730: 'Frederick, MD',
 731: 'Frederick, VA',
 732: 'Fredericksburg, VA',
 733: 'Freeborn, MN',
 734: 'Freestone, TX',
 735: 'Fremont, CO',
 736: 'Fremont, WY',
 737: 'Fresno, CA',
 738: 'Frio, TX',
 739: 'Fulton, GA',
 740: 'Fulton, IL',
 741: 'Fulton, IN',
 742: 'Fulton, NY',
 743: 'Fulton, OH',
 744: 'Fulton, PA',
 745: 'Gadsden, FL',
 746: 'Gaines, TX',
 747: 'Galax, VA',
 748: 'Gallatin, MT',
 749: 'Gallia, OH',
 750: 'Galveston, TX',
 751: 'Garfield, CO',
 752: 'Garfield, OK',
 753: 'Garland, AR',
 754: 'Garrett, MD',
 755: 'Garvin, OK',
 756: 'Gasconade, MO',
 757: 'Gaston, NC',
 758: 'Geary, KS',
 759: 'Geauga, OH',
 760: 'Gem, ID',
 761: 'Genesee, MI',
 762: 'Genesee, NY',
 763: 'Geneva, AL',
 764: 'George, MS',
 765: 'Georgetown, SC',
 766: 'Gibson, IN',
 767: 'Gibson, TN',
 768: 'Gila, AZ',
 769: 'Gilchrist, FL',
 770: 'Giles, TN',
 771: 'Giles, VA',
 772: 'Gillespie, TX',
 773: 'Gilmer, GA',
 774: 'Gilmer, WV',
 775: 'Gilpin, CO',
 776: 'Glacier, MT',
 777: 'Gladwin, MI',
 778: 'Glenn, CA',
 779: 'Gloucester, NJ',
 780: 'Gloucester, VA',
 781: 'Glynn, GA',
 782: 'Golden Valley, ND',
 783: 'Goliad, TX',
 784: 'Gonzales, TX',
 785: 'Goochland, VA',
 786: 'Goodhue, MN',
 787: 'Gooding, ID',
 788: 'Gordon, GA',
 789: 'Goshen, WY',
 790: 'Gove, KS',
 791: 'Grady, GA',
 792: 'Grady, OK',
 793: 'Grafton, NH',
 794: 'Graham, AZ',
 795: 'Graham, KS',
 796: 'Graham, NC',
 797: 'Grainger, TN',
 798: 'Grand Forks, ND',
 799: 'Grand Isle, VT',
 800: 'Grand Traverse, MI',
 801: 'Grand, CO',
 802: 'Grand, UT',
 803: 'Grant, AR',
 804: 'Grant, IN',
 805: 'Grant, KS',
 806: 'Grant, KY',
 807: 'Grant, LA',
 808: 'Grant, WA',
 809: 'Grant, WI',
 810: 'Grant, WV',
 811: 'Granville, NC',
 812: 'Gratiot, MI',
 813: 'Graves, KY',
 814: 'Gray, TX',
 815: 'Grays Harbor, WA',
 816: 'Grayson, TX',
 817: 'Grayson, VA',
 818: 'Green Lake, WI',
 819: 'Greenbrier, WV',
 820: 'Greene, AL',
 821: 'Greene, AR',
 822: 'Greene, GA',
 823: 'Greene, IN',
 824: 'Greene, MO',
 825: 'Greene, NC',
 826: 'Greene, NY',
 827: 'Greene, OH',
 828: 'Greene, PA',
 829: 'Greene, TN',
 830: 'Greene, VA',
 831: 'Greensville, VA',
 832: 'Greenville, SC',
 833: 'Greenwood, KS',
 834: 'Greenwood, SC',
 835: 'Gregg, TX',
 836: 'Gregory, SD',
 837: 'Grenada, MS',
 838: 'Grimes, TX',
 839: 'Grundy, IL',
 840: 'Grundy, MO',
 841: 'Grundy, TN',
 842: 'Guadalupe, TX',
 843: 'Guernsey, OH',
 844: 'Guilford, NC',
 845: 'Gwinnett, GA',
 846: 'Habersham, GA',
 847: 'Hale, TX',
 848: 'Halifax, NC',
 849: 'Halifax, VA',
 850: 'Hall, GA',
 851: 'Hall, NE',
 852: 'Hall, TX',
 853: 'Hamblen, TN',
 854: 'Hamilton, FL',
 855: 'Hamilton, IN',
 856: 'Hamilton, OH',
 857: 'Hamilton, TN',
 858: 'Hampden, MA',
 859: 'Hampshire, MA',
 860: 'Hampton, SC',
 861: 'Hampton, VA',
 862: 'Hancock, IN',
 863: 'Hancock, ME',
 864: 'Hancock, MS',
 865: 'Hancock, OH',
 866: 'Hancock, WV',
 867: 'Hanover, VA',
 868: 'Haralson, GA',
 869: 'Hardee, FL',
 870: 'Hardeman, TN',
 871: 'Hardin, IA',
 872: 'Hardin, IL',
 873: 'Hardin, KY',
 874: 'Hardin, TN',
 875: 'Hardin, TX',
 876: 'Hardy, WV',
 877: 'Harford, MD',
 878: 'Harlan, KY',
 879: 'Harnett, NC',
 880: 'Harney, OR',
 881: 'Harris, TX',
 882: 'Harrison, KY',
 883: 'Harrison, MS',
 884: 'Harrison, TX',
 885: 'Harrison, WV',
 886: 'Harrisonburg, VA',
 887: 'Hart, GA',
 888: 'Hartford, CT',
 889: 'Hartley, TX',
 890: 'Harvey, KS',
 891: 'Hawaii, HI',
 892: 'Hawkins, TN',
 893: 'Hays, TX',
 894: 'Haywood, NC',
 895: 'Haywood, TN',
 896: 'Hempstead, AR',
 897: 'Henderson, KY',
 898: 'Henderson, NC',
 899: 'Henderson, TN',
 900: 'Henderson, TX',
 901: 'Hendricks, IN',
 902: 'Hendry, FL',
 903: 'Hennepin, MN',
 904: 'Henrico, VA',
 905: 'Henry, GA',
 906: 'Henry, IL',
 907: 'Henry, IN',
 908: 'Henry, KY',
 909: 'Henry, MO',
 910: 'Henry, OH',
 911: 'Henry, TN',
 912: 'Henry, VA',
 913: 'Herkimer, NY',
 914: 'Hernando, FL',
 915: 'Hertford, NC',
 916: 'Hickman, TN',
 917: 'Hidalgo, TX',
 918: 'Highland, OH',
 919: 'Highland, VA',
 920: 'Highlands, FL',
 921: 'Hill, MT',
 922: 'Hill, TX',
 923: 'Hillsborough, FL',
 924: 'Hillsborough, NH',
 925: 'Hillsdale, MI',
 926: 'Hinds, MS',
 927: 'Hitchcock, NE',
 928: 'Hocking, OH',
 929: 'Hockley, TX',
 930: 'Hodgeman, KS',
 931: 'Hoke, NC',
 932: 'Holmes, OH',
 933: 'Holt, NE',
 934: 'Honolulu, HI',
 935: 'Hood, TX',
 936: 'Hopewell, VA',
 937: 'Hopkins, KY',
 938: 'Hopkins, TX',
 939: 'Horry, SC',
 940: 'Hot Spring, AR',
 941: 'Hot Springs, WY',
 942: 'Houghton, MI',
 943: 'Houston, AL',
 944: 'Houston, GA',
 945: 'Houston, MN',
 946: 'Houston, TX',
 947: 'Howard, AR',
 948: 'Howard, IA',
 949: 'Howard, IN',
 950: 'Howard, MD',
 951: 'Howard, MO',
 952: 'Howard, TX',
 953: 'Howell, MO',
 954: 'Hudson, NJ',
 955: 'Huerfano, CO',
 956: 'Hughes, OK',

In [12]:
MLData['LocationLabel'] = location_labels
MLData.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        CNTYFIPS Solved  ... SolvedLabel  LocationLabel
0  Anchorage, AK    Yes  ...           1             43
1  Anchorage, AK    Yes  ...           1             43
2  Anchorage, AK    Yes  ...           1             43
3  Anchorage, AK    Yes  ...           1             43
4  Anchorage, AK     No  ...           0             43
5  Anchorage, AK     No  ...           0             43
6  Anchorage, AK    Yes  ...           1             43
7  Anchorage, AK    Yes  ...           1             43
8  Anchorage, AK     No  ...           0             43
9  Anchorage, AK    Yes  ...           1             43

[10 rows x 9 columns]

In [13]:
#Month encoding
Month = np.unique(MLData['Month'])
Month

array(['April', 'August', 'December', 'February', 'January', 'July',
       'June', 'March', 'May', 'November', 'October', 'September'],
      dtype=object)

In [14]:
mle = LabelEncoder()
month_labels = mle.fit_transform(MLData['Month'])
month_mappings = {index: label for index, label in 
                  enumerate(mle.classes_)}
month_mappings

{0: 'April',
 1: 'August',
 2: 'December',
 3: 'February',
 4: 'January',
 5: 'July',
 6: 'June',
 7: 'March',
 8: 'May',
 9: 'November',
 10: 'October',
 11: 'September'}

In [15]:
MLData['MonthLabel'] = month_labels
MLData.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        CNTYFIPS Solved     Month  ...  SolvedLabel LocationLabel MonthLabel
0  Anchorage, AK    Yes   January  ...            1            43          4
1  Anchorage, AK    Yes   January  ...            1            43          4
2  Anchorage, AK    Yes   January  ...            1            43          4
3  Anchorage, AK    Yes   January  ...            1            43          4
4  Anchorage, AK     No   January  ...            0            43          4
5  Anchorage, AK     No   January  ...            0            43          4
6  Anchorage, AK    Yes   January  ...            1            43          4
7  Anchorage, AK    Yes  February  ...            1            43          3
8  Anchorage, AK     No     March  ...            0            43          7
9  Anchorage, AK    Yes     March  ...            1            43          7

[10 rows x 10 columns]

skipping VicAge due to it already being a numerical value

In [16]:
#OffSex encoding
Gender = np.unique(MLData['OffSex'])
Gender

array(['Female', 'Male', 'Unknown'], dtype=object)

In [17]:
gle = LabelEncoder()
gender_labels = gle.fit_transform(MLData['OffSex'])
gender_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
gender_mappings

{0: 'Female', 1: 'Male', 2: 'Unknown'}

In [18]:
MLData['GenderLabel'] = gender_labels
MLData.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        CNTYFIPS Solved     Month  ...  LocationLabel MonthLabel GenderLabel
0  Anchorage, AK    Yes   January  ...             43          4           1
1  Anchorage, AK    Yes   January  ...             43          4           1
2  Anchorage, AK    Yes   January  ...             43          4           1
3  Anchorage, AK    Yes   January  ...             43          4           1
4  Anchorage, AK     No   January  ...             43          4           2
5  Anchorage, AK     No   January  ...             43          4           2
6  Anchorage, AK    Yes   January  ...             43          4           0
7  Anchorage, AK    Yes  February  ...             43          3           1
8  Anchorage, AK     No     March  ...             43          7           2
9  Anchorage, AK    Yes     March  ...             43          7           1

[10 rows x 11 columns]

In [19]:
#Weapon encoding
Weapon = np.unique(MLData['Weapon'])
Weapon

array(['Asphyxiation - includes death by gas',
       'Blunt object - hammer, club, etc', 'Drowning', 'Explosives',
       'Fire', 'Firearm, type not stated',
       'Handgun - pistol, revolver, etc', 'Knife or cutting instrument',
       'Narcotics or drugs, sleeping pills', 'Other gun',
       'Other or type unknown', 'Personal weapons, includes beating',
       'Poison - does not include gas', 'Pushed or thrown out window',
       'Rifle', 'Shotgun', 'Strangulation - hanging'], dtype=object)

In [20]:
wle = LabelEncoder()
weapon_labels = wle.fit_transform(MLData['Weapon'])
weapon_mappings = {index: label for index, label in 
                  enumerate(wle.classes_)}
weapon_mappings

{0: 'Asphyxiation - includes death by gas',
 1: 'Blunt object - hammer, club, etc',
 2: 'Drowning',
 3: 'Explosives',
 4: 'Fire',
 5: 'Firearm, type not stated',
 6: 'Handgun - pistol, revolver, etc',
 7: 'Knife or cutting instrument',
 8: 'Narcotics or drugs, sleeping pills',
 9: 'Other gun',
 10: 'Other or type unknown',
 11: 'Personal weapons, includes beating',
 12: 'Poison - does not include gas',
 13: 'Pushed or thrown out window',
 14: 'Rifle',
 15: 'Shotgun',
 16: 'Strangulation - hanging'}

In [21]:
MLData['WeaponLabel'] = weapon_labels
MLData.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        CNTYFIPS Solved     Month  ...  MonthLabel GenderLabel WeaponLabel
0  Anchorage, AK    Yes   January  ...           4           1           5
1  Anchorage, AK    Yes   January  ...           4           1           5
2  Anchorage, AK    Yes   January  ...           4           1           5
3  Anchorage, AK    Yes   January  ...           4           1          10
4  Anchorage, AK     No   January  ...           4           2           5
5  Anchorage, AK     No   January  ...           4           2           5
6  Anchorage, AK    Yes   January  ...           4           0           6
7  Anchorage, AK    Yes  February  ...           3           1           5
8  Anchorage, AK     No     March  ...           7           2           5
9  Anchorage, AK    Yes     March  ...           7           1           5

[10 rows x 12 columns]

In [22]:
#Relationship encoding
Relationship = np.unique(MLData['Relationship'])
Relationship

array(['Acquaintance', 'Boyfriend', 'Brother', 'Common-law husband',
       'Common-law wife', 'Daughter', 'Employee', 'Employer',
       'Ex-husband', 'Ex-wife', 'Father', 'Friend', 'Girlfriend',
       'Homosexual relationship', 'Husband', 'In-law', 'Mother',
       'Neighbor', 'Other - known to victim', 'Other family',
       'Relationship not determined', 'Sister', 'Son', 'Stepdaughter',
       'Stepfather', 'Stepmother', 'Stepson', 'Stranger', 'Wife'],
      dtype=object)

In [23]:
rle = LabelEncoder()
relationship_labels = rle.fit_transform(MLData['Relationship'])
relationship_mappings = {index: label for index, label in 
                  enumerate(rle.classes_)}
relationship_mappings

{0: 'Acquaintance',
 1: 'Boyfriend',
 2: 'Brother',
 3: 'Common-law husband',
 4: 'Common-law wife',
 5: 'Daughter',
 6: 'Employee',
 7: 'Employer',
 8: 'Ex-husband',
 9: 'Ex-wife',
 10: 'Father',
 11: 'Friend',
 12: 'Girlfriend',
 13: 'Homosexual relationship',
 14: 'Husband',
 15: 'In-law',
 16: 'Mother',
 17: 'Neighbor',
 18: 'Other - known to victim',
 19: 'Other family',
 20: 'Relationship not determined',
 21: 'Sister',
 22: 'Son',
 23: 'Stepdaughter',
 24: 'Stepfather',
 25: 'Stepmother',
 26: 'Stepson',
 27: 'Stranger',
 28: 'Wife'}

In [24]:
MLData['RelationshipLabel'] = relationship_labels
MLData.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        CNTYFIPS Solved     Month  ...  GenderLabel WeaponLabel RelationshipLabel
0  Anchorage, AK    Yes   January  ...            1           5                21
1  Anchorage, AK    Yes   January  ...            1           5                21
2  Anchorage, AK    Yes   January  ...            1           5                27
3  Anchorage, AK    Yes   January  ...            1          10                28
4  Anchorage, AK     No   January  ...            2           5                20
5  Anchorage, AK     No   January  ...            2           5                20
6  Anchorage, AK    Yes   January  ...            0           6                22
7  Anchorage, AK    Yes  February  ...            1           5                27
8  Anchorage, AK     No     March  ...            2           5                20
9  Anchorage, AK    Yes     March  ...            1           5                11

[10 rows x 13 columns]

In [25]:
#Split Dataframe to encoded/non encoded
encoded_DF = MLData[["SolvedLabel", "LocationLabel", "MonthLabel", "GenderLabel", "WeaponLabel", "RelationshipLabel"]]
encoded_DF.head()

   SolvedLabel  LocationLabel  ...  WeaponLabel  RelationshipLabel
0            1             43  ...            5                 21
1            1             43  ...            5                 21
2            1             43  ...            5                 27
3            1             43  ...           10                 28
4            0             43  ...            5                 20

[5 rows x 6 columns]

Will the murder be solved or unsolved?

In [26]:
X = encoded_DF.drop("SolvedLabel", axis=1)
y = encoded_DF["SolvedLabel"]
print(X.shape, y.shape)

(69623, 5) (69623,)

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [28]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [30]:
# Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [35]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=5))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [36]:
 # Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [37]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 100)               600
_________________________________________________________________
dense_4 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 202
=================================================================
Total params: 10,902
Trainable params: 10,902
Non-trainable params: 0
_________________________________________________________________

In [38]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
1632/1632 - 3s - loss: 0.0349 - accuracy: 0.9910
Epoch 2/60
1632/1632 - 2s - loss: 0.0143 - accuracy: 0.9977
Epoch 3/60
1632/1632 - 2s - loss: 0.0142 - accuracy: 0.9978
Epoch 4/60
1632/1632 - 2s - loss: 0.0140 - accuracy: 0.9978
Epoch 5/60
1632/1632 - 2s - loss: 0.0139 - accuracy: 0.9979
Epoch 6/60
1632/1632 - 2s - loss: 0.0137 - accuracy: 0.9979
Epoch 7/60
1632/1632 - 2s - loss: 0.0135 - accuracy: 0.9979
Epoch 8/60
1632/1632 - 2s - loss: 0.0136 - accuracy: 0.9978
Epoch 9/60
1632/1632 - 2s - loss: 0.0133 - accuracy: 0.9979
Epoch 10/60
1632/1632 - 2s - loss: 0.0131 - accuracy: 0.9978
Epoch 11/60
1632/1632 - 2s - loss: 0.0132 - accuracy: 0.9979
Epoch 12/60
1632/1632 - 2s - loss: 0.0132 - accuracy: 0.9979
Epoch 13/60
1632/1632 - 2s - loss: 0.0131 - accuracy: 0.9979
Epoch 14/60
1632/1632 - 2s - loss: 0.0131 - accuracy: 0.9979
Epoch 15/60
1632/1632 - 2s - loss: 0.0128 - accuracy: 0.9979
Epoch 16/60
1632/1632 - 2s - loss: 0.0130 - accuracy: 0.9978
Epoch 17/60
1632/1632 - 2s - loss: 0.0129 - accuracy: 0.9979
Epoch 18/60
1632/1632 - 2s - loss: 0.0131 - accuracy: 0.9979
Epoch 19/60
1632/1632 - 2s - loss: 0.0128 - accuracy: 0.9979
Epoch 20/60
1632/1632 - 2s - loss: 0.0128 - accuracy: 0.9979
Epoch 21/60
1632/1632 - 2s - loss: 0.0126 - accuracy: 0.9979
Epoch 22/60
1632/1632 - 2s - loss: 0.0126 - accuracy: 0.9980
Epoch 23/60
1632/1632 - 2s - loss: 0.0125 - accuracy: 0.9980
Epoch 24/60
1632/1632 - 2s - loss: 0.0125 - accuracy: 0.9979
Epoch 25/60
1632/1632 - 2s - loss: 0.0127 - accuracy: 0.9978
Epoch 26/60
1632/1632 - 2s - loss: 0.0126 - accuracy: 0.9979
Epoch 27/60
1632/1632 - 2s - loss: 0.0125 - accuracy: 0.9979
Epoch 28/60
1632/1632 - 2s - loss: 0.0124 - accuracy: 0.9979
Epoch 29/60
1632/1632 - 2s - loss: 0.0123 - accuracy: 0.9978
Epoch 30/60
1632/1632 - 2s - loss: 0.0124 - accuracy: 0.9979
Epoch 31/60
1632/1632 - 2s - loss: 0.0126 - accuracy: 0.9978
Epoch 32/60
1632/1632 - 2s - loss: 0.0124 - accuracy: 0.9979
Epoch 33/60
1632/1632 - 2s - loss: 0.0123 - accuracy: 0.9979
Epoch 34/60
1632/1632 - 2s - loss: 0.0123 - accuracy: 0.9978
Epoch 35/60
1632/1632 - 2s - loss: 0.0123 - accuracy: 0.9979
Epoch 36/60
1632/1632 - 2s - loss: 0.0122 - accuracy: 0.9978
Epoch 37/60
1632/1632 - 2s - loss: 0.0121 - accuracy: 0.9979
Epoch 38/60
1632/1632 - 2s - loss: 0.0121 - accuracy: 0.9979
Epoch 39/60
1632/1632 - 2s - loss: 0.0121 - accuracy: 0.9979
Epoch 40/60
1632/1632 - 2s - loss: 0.0123 - accuracy: 0.9978
Epoch 41/60
1632/1632 - 2s - loss: 0.0121 - accuracy: 0.9979
Epoch 42/60
1632/1632 - 2s - loss: 0.0120 - accuracy: 0.9979
Epoch 43/60
1632/1632 - 2s - loss: 0.0120 - accuracy: 0.9979
Epoch 44/60
1632/1632 - 2s - loss: 0.0120 - accuracy: 0.9979
Epoch 45/60
1632/1632 - 2s - loss: 0.0120 - accuracy: 0.9978
Epoch 46/60
1632/1632 - 2s - loss: 0.0119 - accuracy: 0.9978
Epoch 47/60
1632/1632 - 2s - loss: 0.0119 - accuracy: 0.9979
Epoch 48/60
1632/1632 - 2s - loss: 0.0119 - accuracy: 0.9979
Epoch 49/60
1632/1632 - 2s - loss: 0.0120 - accuracy: 0.9978
Epoch 50/60
1632/1632 - 2s - loss: 0.0119 - accuracy: 0.9978
Epoch 51/60
1632/1632 - 2s - loss: 0.0118 - accuracy: 0.9979
Epoch 52/60
1632/1632 - 2s - loss: 0.0118 - accuracy: 0.9978
Epoch 53/60
1632/1632 - 2s - loss: 0.0119 - accuracy: 0.9978
Epoch 54/60
1632/1632 - 2s - loss: 0.0119 - accuracy: 0.9978
Epoch 55/60
1632/1632 - 2s - loss: 0.0118 - accuracy: 0.9978
Epoch 56/60
1632/1632 - 2s - loss: 0.0118 - accuracy: 0.9978
Epoch 57/60
1632/1632 - 2s - loss: 0.0119 - accuracy: 0.9978
Epoch 58/60
1632/1632 - 2s - loss: 0.0118 - accuracy: 0.9978
Epoch 59/60
1632/1632 - 2s - loss: 0.0118 - accuracy: 0.9979
Epoch 60/60
1632/1632 - 2s - loss: 0.0116 - accuracy: 0.9979

In [39]:
#Quantify our trained Solved Model
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

544/544 - 1s - loss: 0.0140 - accuracy: 0.9976
Normal Neural Network - Loss: 0.013983643613755703, Accuracy: 0.9975870251655579

In [40]:
#Make Prediction for the solved/unsolved murder
encoded_predictions = np.argmax(model.predict(X_test_scaled[:5]), axis = -1)
prediction_labels = sle.inverse_transform(encoded_predictions)

In [41]:
#Solved/Unsolved encoder reminder
print(solved_mappings)

{0: 'No', 1: 'Yes'}

In [42]:
print(f"Predicted Gender: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted Gender: ['Yes' 'Yes' 'Yes' 'Yes' 'Yes']
Actual Labels: [1, 1, 1, 1, 1]