<a href="https://colab.research.google.com/github/samantha8990/finalproject/blob/main/Machine%20Learning/Gender_MachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java

!pip install pyspark

update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java to provide /usr/bin/java (java) in manual mode
Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 59 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 66.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=3fa72fbde04231557fd6dbe6a595bea62114ef730b7358cc37135c74e0637da1
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sparkDates").getOrCreate()

In [3]:
# Load in data
from pyspark import SparkFiles
url ="https://murderanalytics.s3.us-west-1.amazonaws.com/CleanData.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("CleanData.csv"), sep=",", header=True, inferSchema=True)
df.show()

+---+-------------+------+----+--------+--------------------+------+------+------+-------+--------------------+--------------------+--------------------+--------------------+
|_c0|     CNTYFIPS|Solved|Year|   Month|            Homicide|VicAge|VicSex|OffAge| OffSex|              Weapon|        Relationship|        Circumstance|           Situation|
+---+-------------+------+----+--------+--------------------+------+------+------+-------+--------------------+--------------------+--------------------+--------------------+
|  0|Anchorage, AK|   Yes|2016| January|Murder and non-ne...|    40|Female|    15|   Male|Firearm, type not...|              Sister|Circumstances und...|Multiple victims/...|
|  1|Anchorage, AK|   Yes|2016| January|Murder and non-ne...|    18|Female|    15|   Male|Firearm, type not...|              Sister|Circumstances und...|Multiple victims/...|
|  2|Anchorage, AK|   Yes|2016| January|Murder and non-ne...|    49|  Male|    34|   Male|Firearm, type not...|            Stranger|Felon killed by p...|Single victim/mul...|
|  3|Anchorage, AK|   Yes|2016| January|Murder and non-ne...|    32|Female|    33|   Male|Other or type unk...|                Wife|Circumstances und...|Single victim/sin...|
|  4|Anchorage, AK|    No|2016| January|Murder and non-ne...|    20|  Male|   999|Unknown|Firearm, type not...|Relationship not ...|Circumstances und...|Multiple victims/...|
|  5|Anchorage, AK|    No|2016| January|Murder and non-ne...|    19|Female|   999|Unknown|Firearm, type not...|Relationship not ...|Circumstances und...|Multiple victims/...|
|  6|Anchorage, AK|   Yes|2016| January|Manslaughter by n...|     2|  Male|    21| Female|Handgun - pistol,...|                 Son|Children playing ...|Single victim/sin...|
|  7|Anchorage, AK|   Yes|2016|February|Murder and non-ne...|    30|  Male|    17|   Male|Firearm, type not...|            Stranger|             Robbery|Single victim/sin...|
|  8|Anchorage, AK|    No|2016|   March|Murder and non-ne...|    24|  Male|   999|Unknown|Firearm, type not...|Relationship not ...|Circumstances und...|Single victim/unk...|
|  9|Anchorage, AK|   Yes|2016|   March|Murder and non-ne...|    30|  Male|    46|   Male|Firearm, type not...|              Friend|Felon killed by p...|Single victim/sin...|
| 10|Anchorage, AK|   Yes|2016|     May|Murder and non-ne...|    19|  Male|    23|   Male|Firearm, type not...|            Stranger|     Other arguments|Single victim/sin...|
| 11|Anchorage, AK|   Yes|2016|     May|Manslaughter by n...|    48|Female|    37|   Male|Strangulation - h...|          Girlfriend|All other manslau...|Single victim/sin...|
| 12|Anchorage, AK|   Yes|2016|    June|Murder and non-ne...|    30|Female|    34|   Male|Firearm, type not...|        Acquaintance|               Other|Single victim/sin...|
| 13|Anchorage, AK|   Yes|2016|    July|Murder and non-ne...|    49|Female|    45|   Male|Firearm, type not...|                Wife|               Other|Single victim/sin...|
| 14|Anchorage, AK|    No|2016|    July|Murder and non-ne...|    20|Female|   999|Unknown|Firearm, type not...|Relationship not ...|Circumstances und...|Multiple victims/...|
| 15|Anchorage, AK|    No|2016|    July|Murder and non-ne...|    41|  Male|   999|Unknown|Firearm, type not...|Relationship not ...|Circumstances und...|Multiple victims/...|
| 16|Anchorage, AK|   Yes|2016|    July|Murder and non-ne...|    30|  Male|    32|   Male|Firearm, type not...|        Acquaintance|               Other|Single victim/sin...|
| 17|Anchorage, AK|   Yes|2016|    July|Murder and non-ne...|    24|  Male|    37|   Male|Firearm, type not...|            Stranger|Felon killed by p...|Single victim/mul...|
| 18|Anchorage, AK|   Yes|2016|    July|Murder and non-ne...|     0|Female|    22| Female|Other or type unk...|            Daughter|               Other|Single victim/sin...|
| 19|Anchorage, AK|   Yes|2016|    July|Murder and non-ne...|    33|Female|    33|   Male|Knife or cutting ...|             Ex-wife|               Other|Single victim/sin...|
+---+-------------+------+----+--------+--------------------+------+------+------+-------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

Data Pre-Processing

In [4]:
import pandas as pd
data = df.toPandas()
data = data[data.OffSex != "Unknown"]
data.head()

   _c0  ...                         Situation
0    0  ...  Multiple victims/single offender
1    1  ...  Multiple victims/single offender
2    2  ...  Single victim/multiple offenders
3    3  ...     Single victim/single offender
6    6  ...     Single victim/single offender

[5 rows x 14 columns]

In [5]:
MLData = data[["CNTYFIPS","Solved", "Month", "VicAge", "OffSex", "Weapon", "Relationship"]]
MLData.head()

        CNTYFIPS Solved  ...                           Weapon  Relationship
0  Anchorage, AK    Yes  ...         Firearm, type not stated        Sister
1  Anchorage, AK    Yes  ...         Firearm, type not stated        Sister
2  Anchorage, AK    Yes  ...         Firearm, type not stated      Stranger
3  Anchorage, AK    Yes  ...            Other or type unknown          Wife
6  Anchorage, AK    Yes  ...  Handgun - pistol, revolver, etc           Son

[5 rows x 7 columns]

Using Machine Learning we will learn how you are going to DIE.

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import tensorflow
tensorflow.keras.__version__
from tensorflow.keras.utils import to_categorical
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Create numerical encoding for each unique column

In [7]:
#Solved
solved = np.unique(MLData['Solved'])
solved

array(['No', 'Yes'], dtype=object)

In [8]:
sle = LabelEncoder()
solved_labels = sle.fit_transform(MLData['Solved'])
solved_mappings = {index: label for index, label in 
                  enumerate(sle.classes_)}
solved_mappings

{0: 'No', 1: 'Yes'}

In [9]:
MLData['SolvedLabel'] = solved_labels
MLData.head(20)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         CNTYFIPS Solved  ...  Relationship  SolvedLabel
0   Anchorage, AK    Yes  ...        Sister            1
1   Anchorage, AK    Yes  ...        Sister            1
2   Anchorage, AK    Yes  ...      Stranger            1
3   Anchorage, AK    Yes  ...          Wife            1
6   Anchorage, AK    Yes  ...           Son            1
7   Anchorage, AK    Yes  ...      Stranger            1
9   Anchorage, AK    Yes  ...        Friend            1
10  Anchorage, AK    Yes  ...      Stranger            1
11  Anchorage, AK    Yes  ...    Girlfriend            1
12  Anchorage, AK    Yes  ...  Acquaintance            1
13  Anchorage, AK    Yes  ...          Wife            1
16  Anchorage, AK    Yes  ...  Acquaintance            1
17  Anchorage, AK    Yes  ...      Stranger            1
18  Anchorage, AK    Yes  ...      Daughter            1
19  Anchorage, AK    Yes  ...       Ex-wife            1
20  Anchorage, AK    Yes  ...      Stranger            1
21  Anchorage, AK    Yes  ...      Stranger            1
22  Anchorage, AK    Yes  ...        Friend            1
23  Anchorage, AK    Yes  ...      Stranger            1
24  Anchorage, AK    Yes  ...  Acquaintance            1

[20 rows x 8 columns]

In [10]:
#CNTYFIPS encoding
location = np.unique(MLData['CNTYFIPS'])
location

array(['Abbeville, SC', 'Acadia, LA', 'Accomack, VA', ..., 'Young, TX',
       'Yuba, CA', 'Yuma, AZ'], dtype=object)

In [11]:
cle = LabelEncoder()
location_labels = cle.fit_transform(MLData['CNTYFIPS'])
location_mappings = {index: label for index, label in 
                  enumerate(cle.classes_)}
location_mappings

{0: 'Abbeville, SC',
 1: 'Acadia, LA',
 2: 'Accomack, VA',
 3: 'Ada, ID',
 4: 'Adair, KY',
 5: 'Adair, MO',
 6: 'Adair, OK',
 7: 'Adams, CO',
 8: 'Adams, IL',
 9: 'Adams, NE',
 10: 'Adams, PA',
 11: 'Adams, WA',
 12: 'Adams, WI',
 13: 'Addison, VT',
 14: 'Aiken, SC',
 15: 'Aitkin, MN',
 16: 'Alachua, FL',
 17: 'Alamance, NC',
 18: 'Alameda, CA',
 19: 'Alamosa, CO',
 20: 'Albany, NY',
 21: 'Albany, WY',
 22: 'Albemarle, VA',
 23: 'Alexander, NC',
 24: 'Alexandria, VA',
 25: 'Alfalfa, OK',
 26: 'Alger, MI',
 27: 'Allegan, MI',
 28: 'Allegany, MD',
 29: 'Allegany, NY',
 30: 'Allegheny, PA',
 31: 'Allen, IN',
 32: 'Allen, KS',
 33: 'Allen, KY',
 34: 'Allen, LA',
 35: 'Allen, OH',
 36: 'Allendale, SC',
 37: 'Alpena, MI',
 38: 'Amador, CA',
 39: 'Amelia, VA',
 40: 'Amherst, VA',
 41: 'Anchorage, AK',
 42: 'Anderson, KS',
 43: 'Anderson, SC',
 44: 'Anderson, TN',
 45: 'Anderson, TX',
 46: 'Andrew, MO',
 47: 'Andrews, TX',
 48: 'Androscoggin, ME',
 49: 'Angelina, TX',
 50: 'Anne Arundel, MD',
 51: 'Anoka, MN',
 52: 'Anson, NC',
 53: 'Antrim, MI',
 54: 'Apache, AZ',
 55: 'Appanoose, IA',
 56: 'Appling, GA',
 57: 'Appomattox, VA',
 58: 'Aransas, TX',
 59: 'Arapahoe, CO',
 60: 'Archuleta, CO',
 61: 'Arenac, MI',
 62: 'Arkansas, AR',
 63: 'Arlington, VA',
 64: 'Armstrong, PA',
 65: 'Aroostook, ME',
 66: 'Ascension, LA',
 67: 'Ashland, OH',
 68: 'Ashland, WI',
 69: 'Ashley, AR',
 70: 'Ashtabula, OH',
 71: 'Asotin, WA',
 72: 'Assumption, LA',
 73: 'Atascosa, TX',
 74: 'Atchison, KS',
 75: 'Athens, OH',
 76: 'Atlantic, NJ',
 77: 'Attala, MS',
 78: 'Audrain, MO',
 79: 'Augusta, VA',
 80: 'Austin, TX',
 81: 'Autauga, AL',
 82: 'Avoyelles, LA',
 83: 'Bacon, GA',
 84: 'Bailey, TX',
 85: 'Baker, FL',
 86: 'Baldwin, AL',
 87: 'Baldwin, GA',
 88: 'Baltimore city, MD',
 89: 'Baltimore, MD',
 90: 'Bamberg, SC',
 91: 'Bandera, TX',
 92: 'Bannock, ID',
 93: 'Baraga, MI',
 94: 'Barbour, AL',
 95: 'Barbour, WV',
 96: 'Barnstable, MA',
 97: 'Barnwell, SC',
 98: 'Barren, KY',
 99: 'Barron, WI',
 100: 'Barrow, GA',
 101: 'Barry, MI',
 102: 'Barry, MO',
 103: 'Bartholomew, IN',
 104: 'Barton, KS',
 105: 'Bastrop, TX',
 106: 'Bates, MO',
 107: 'Bath, VA',
 108: 'Baxter, AR',
 109: 'Bay, FL',
 110: 'Bay, MI',
 111: 'Bayfield, WI',
 112: 'Beadle, SD',
 113: 'Beaufort, NC',
 114: 'Beaufort, SC',
 115: 'Beauregard, LA',
 116: 'Beaver, PA',
 117: 'Beaver, UT',
 118: 'Becker, MN',
 119: 'Beckham, OK',
 120: 'Bedford, PA',
 121: 'Bedford, TN',
 122: 'Bedford, VA',
 123: 'Bee, TX',
 124: 'Belknap, NH',
 125: 'Bell, KY',
 126: 'Bell, TX',
 127: 'Belmont, OH',
 128: 'Beltrami, MN',
 129: 'Ben Hill, GA',
 130: 'Benewah, ID',
 131: 'Bennett, SD',
 132: 'Bennington, VT',
 133: 'Bent, CO',
 134: 'Benton, AR',
 135: 'Benton, MN',
 136: 'Benton, MO',
 137: 'Benton, OR',
 138: 'Benton, TN',
 139: 'Benton, WA',
 140: 'Bergen, NJ',
 141: 'Berkeley, SC',
 142: 'Berkeley, WV',
 143: 'Berks, PA',
 144: 'Berkshire, MA',
 145: 'Bernalillo, NM',
 146: 'Berrien, GA',
 147: 'Berrien, MI',
 148: 'Bertie, NC',
 149: 'Bethel, AK',
 150: 'Bexar, TX',
 151: 'Bibb, GA',
 152: 'Bienville, LA',
 153: 'Big Horn, MT',
 154: 'Bingham, ID',
 155: 'Black Hawk, IA',
 156: 'Blackford, IN',
 157: 'Blair, PA',
 158: 'Blanco, TX',
 159: 'Bleckley, GA',
 160: 'Bledsoe, TN',
 161: 'Blount, AL',
 162: 'Blount, TN',
 163: 'Blue Earth, MN',
 164: 'Boise, ID',
 165: 'Bolivar, MS',
 166: 'Bollinger, MO',
 167: 'Bond, IL',
 168: 'Bonner, ID',
 169: 'Bonneville, ID',
 170: 'Boone, AR',
 171: 'Boone, IA',
 172: 'Boone, IL',
 173: 'Boone, IN',
 174: 'Boone, KY',
 175: 'Boone, MO',
 176: 'Boone, WV',
 177: 'Bossier, LA',
 178: 'Botetourt, VA',
 179: 'Bottineau, ND',
 180: 'Boulder, CO',
 181: 'Boundary, ID',
 182: 'Bowie, TX',
 183: 'Bowman, ND',
 184: 'Box Elder, UT',
 185: 'Boyd, KY',
 186: 'Bradford, FL',
 187: 'Bradford, PA',
 188: 'Bradley, AR',
 189: 'Bradley, TN',
 190: 'Branch, MI',
 191: 'Brantley, GA',
 192: 'Braxton, WV',
 193: 'Brazoria, TX',
 194: 'Brazos, TX',
 195: 'Breathitt, KY',
 196: 'Breckinridge, KY',
 197: 'Bremer, IA',
 198: 'Brevard, FL',
 199: 'Brewster, TX',
 200: 'Bristol, MA',
 201: 'Bristol, RI',
 202: 'Bristol, VA',
 203: 'Broadwater, MT',
 204: 'Brookings, SD',
 205: 'Brooks, GA',
 206: 'Broome, NY',
 207: 'Broomfield, CO',
 208: 'Broward, FL',
 209: 'Brown, MN',
 210: 'Brown, NE',
 211: 'Brown, OH',
 212: 'Brown, SD',
 213: 'Brown, TX',
 214: 'Brown, WI',
 215: 'Brule, SD',
 216: 'Brunswick, NC',
 217: 'Brunswick, VA',
 218: 'Bryan, GA',
 219: 'Bryan, OK',
 220: 'Buchanan, IA',
 221: 'Buchanan, MO',
 222: 'Buchanan, VA',
 223: 'Buckingham, VA',
 224: 'Bucks, PA',
 225: 'Buffalo, NE',
 226: 'Bullitt, KY',
 227: 'Bulloch, GA',
 228: 'Bullock, AL',
 229: 'Buncombe, NC',
 230: 'Bureau, IL',
 231: 'Burke, GA',
 232: 'Burke, NC',
 233: 'Burleigh, ND',
 234: 'Burleson, TX',
 235: 'Burlington, NJ',
 236: 'Burnet, TX',
 237: 'Burnett, WI',
 238: 'Burt, NE',
 239: 'Butler, AL',
 240: 'Butler, KS',
 241: 'Butler, MO',
 242: 'Butler, OH',
 243: 'Butler, PA',
 244: 'Butte, CA',
 245: 'Butts, GA',
 246: 'Cabarrus, NC',
 247: 'Cabell, WV',
 248: 'Cache, UT',
 249: 'Caddo, LA',
 250: 'Caddo, OK',
 251: 'Calaveras, CA',
 252: 'Calcasieu, LA',
 253: 'Caldwell, KY',
 254: 'Caldwell, LA',
 255: 'Caldwell, MO',
 256: 'Caldwell, NC',
 257: 'Caldwell, TX',
 258: 'Caledonia, VT',
 259: 'Calhoun, AL',
 260: 'Calhoun, AR',
 261: 'Calhoun, FL',
 262: 'Calhoun, GA',
 263: 'Calhoun, MI',
 264: 'Calhoun, SC',
 265: 'Calhoun, TX',
 266: 'Callaway, MO',
 267: 'Calloway, KY',
 268: 'Calumet, WI',
 269: 'Calvert, MD',
 270: 'Cambria, PA',
 271: 'Camden, GA',
 272: 'Camden, MO',
 273: 'Camden, NJ',
 274: 'Cameron, PA',
 275: 'Cameron, TX',
 276: 'Camp, TX',
 277: 'Campbell, KY',
 278: 'Campbell, TN',
 279: 'Campbell, VA',
 280: 'Campbell, WY',
 281: 'Canadian, OK',
 282: 'Candler, GA',
 283: 'Cannon, TN',
 284: 'Canyon, ID',
 285: 'Cape Girardeau, MO',
 286: 'Cape May, NJ',
 287: 'Carbon, MT',
 288: 'Carbon, WY',
 289: 'Carlton, MN',
 290: 'Caroline, MD',
 291: 'Caroline, VA',
 292: 'Carroll, AR',
 293: 'Carroll, GA',
 294: 'Carroll, MD',
 295: 'Carroll, NH',
 296: 'Carroll, TN',
 297: 'Carroll, VA',
 298: 'Carson City city, NV',
 299: 'Carson, TX',
 300: 'Carter, MO',
 301: 'Carter, MT',
 302: 'Carter, OK',
 303: 'Carter, TN',
 304: 'Carteret, NC',
 305: 'Carver, MN',
 306: 'Cascade, MT',
 307: 'Cass, IA',
 308: 'Cass, IN',
 309: 'Cass, MI',
 310: 'Cass, MN',
 311: 'Cass, MO',
 312: 'Cass, ND',
 313: 'Cass, TX',
 314: 'Cassia, ID',
 315: 'Castro, TX',
 316: 'Caswell, NC',
 317: 'Catawba, NC',
 318: 'Catoosa, GA',
 319: 'Cattaraugus, NY',
 320: 'Cayuga, NY',
 321: 'Cecil, MD',
 322: 'Cedar, MO',
 323: 'Centre, PA',
 324: 'Cerro Gordo, IA',
 325: 'Chambers, AL',
 326: 'Chambers, TX',
 327: 'Champaign, IL',
 328: 'Champaign, OH',
 329: 'Charles City, VA',
 330: 'Charles Mix, SD',
 331: 'Charles, MD',
 332: 'Charleston, SC',
 333: 'Charlevoix, MI',
 334: 'Charlotte, FL',
 335: 'Charlotte, VA',
 336: 'Charlottesville, VA',
 337: 'Charlton, GA',
 338: 'Chase, NE',
 339: 'Chatham, GA',
 340: 'Chatham, NC',
 341: 'Chautauqua, KS',
 342: 'Chautauqua, NY',
 343: 'Chaves, NM',
 344: 'Cheatham, TN',
 345: 'Chelan, WA',
 346: 'Chemung, NY',
 347: 'Chenango, NY',
 348: 'Cherokee, AL',
 349: 'Cherokee, GA',
 350: 'Cherokee, KS',
 351: 'Cherokee, NC',
 352: 'Cherokee, OK',
 353: 'Cherokee, SC',
 354: 'Cherokee, TX',
 355: 'Chesapeake, VA',
 356: 'Cheshire, NH',
 357: 'Chester, PA',
 358: 'Chester, SC',
 359: 'Chester, TN',
 360: 'Chesterfield, SC',
 361: 'Chesterfield, VA',
 362: 'Cheyenne, NE',
 363: 'Chicot, AR',
 364: 'Chilton, AL',
 365: 'Chippewa, MI',
 366: 'Chippewa, WI',
 367: 'Chisago, MN',
 368: 'Chittenden, VT',
 369: 'Choctaw, AL',
 370: 'Choctaw, MS',
 371: 'Choctaw, OK',
 372: 'Chowan, NC',
 373: 'Christian, IL',
 374: 'Christian, KY',
 375: 'Christian, MO',
 376: 'Churchill, NV',
 377: 'Cibola, NM',
 378: 'Citrus, FL',
 379: 'Clackamas, OR',
 380: 'Claiborne, MS',
 381: 'Claiborne, TN',
 382: 'Clallam, WA',
 383: 'Clare, MI',
 384: 'Clarendon, SC',
 385: 'Clark, AR',
 386: 'Clark, IL',
 387: 'Clark, IN',
 388: 'Clark, KY',
 389: 'Clark, NV',
 390: 'Clark, OH',
 391: 'Clark, WA',
 392: 'Clark, WI',
 393: 'Clarke, AL',
 394: 'Clarke, GA',
 395: 'Clarke, VA',
 396: 'Clatsop, OR',
 397: 'Clay, AR',
 398: 'Clay, FL',
 399: 'Clay, IA',
 400: 'Clay, IL',
 401: 'Clay, KY',
 402: 'Clay, MN',
 403: 'Clay, MO',
 404: 'Clay, MS',
 405: 'Clay, TX',
 406: 'Clay, WV',
 407: 'Clayton, GA',
 408: 'Clear Creek, CO',
 409: 'Clearfield, PA',
 410: 'Clearwater, ID',
 411: 'Cleburne, AR',
 412: 'Clermont, OH',
 413: 'Cleveland, AR',
 414: 'Cleveland, NC',
 415: 'Cleveland, OK',
 416: 'Clifton Forge, VA',
 417: 'Clinch, GA',
 418: 'Clinton, IA',
 419: 'Clinton, IN',
 420: 'Clinton, KY',
 421: 'Clinton, MO',
 422: 'Clinton, NY',
 423: 'Clinton, PA',
 424: 'Cobb, GA',
 425: 'Cochise, AZ',
 426: 'Cocke, TN',
 427: 'Coconino, AZ',
 428: 'Codington, SD',
 429: 'Coffee, AL',
 430: 'Coffee, GA',
 431: 'Coffee, TN',
 432: 'Coffey, KS',
 433: 'Coke, TX',
 434: 'Colbert, AL',
 435: 'Cole, MO',
 436: 'Coles, IL',
 437: 'Colleton, SC',
 438: 'Collier, FL',
 439: 'Collin, TX',
 440: 'Colonial Heights, VA',
 441: 'Colorado, TX',
 442: 'Colquitt, GA',
 443: 'Columbia, AR',
 444: 'Columbia, FL',
 445: 'Columbia, GA',
 446: 'Columbia, NY',
 447: 'Columbia, OR',
 448: 'Columbia, PA',
 449: 'Columbia, WI',
 450: 'Columbiana, OH',
 451: 'Columbus, NC',
 452: 'Colusa, CA',
 453: 'Comal, TX',
 454: 'Comanche, OK',
 455: 'Comanche, TX',
 456: 'Concordia, LA',
 457: 'Conecuh, AL',
 458: 'Contra Costa, CA',
 459: 'Converse, WY',
 460: 'Conway, AR',
 461: 'Cook, GA',
 462: 'Cook, IL',
 463: 'Cooke, TX',
 464: 'Coos, NH',
 465: 'Coos, OR',
 466: 'Coosa, AL',
 467: 'Cortland, NY',
 468: 'Coryell, TX',
 469: 'Coshocton, OH',
 470: 'Cottle, TX',
 471: 'Cottonwood, MN',
 472: 'Covington, AL',
 473: 'Coweta, GA',
 474: 'Cowley, KS',
 475: 'Cowlitz, WA',
 476: 'Craig, VA',
 477: 'Craighead, AR',
 478: 'Craven, NC',
 479: 'Crawford, AR',
 480: 'Crawford, GA',
 481: 'Crawford, IN',
 482: 'Crawford, KS',
 483: 'Crawford, MO',
 484: 'Crawford, PA',
 485: 'Crawford, WI',
 486: 'Creek, OK',
 487: 'Crenshaw, AL',
 488: 'Crisp, GA',
 489: 'Crittenden, AR',
 490: 'Crockett, TN',
 491: 'Crook, OR',
 492: 'Cross, AR',
 493: 'Crow Wing, MN',
 494: 'Crowley, CO',
 495: 'Cullman, AL',
 496: 'Culpeper, VA',
 497: 'Cumberland, ME',
 498: 'Cumberland, NC',
 499: 'Cumberland, NJ',
 500: 'Cumberland, PA',
 501: 'Cumberland, TN',
 502: 'Cumberland, VA',
 503: 'Cuming, NE',
 504: 'Curry, NM',
 505: 'Custer, ID',
 506: 'Custer, MT',
 507: 'Custer, OK',
 508: 'Cuyahoga, OH',
 509: 'Dade, MO',
 510: 'Dakota, MN',
 511: 'Dakota, NE',
 512: 'Dale, AL',
 513: 'Dallam, TX',
 514: 'Dallas, AL',
 515: 'Dallas, AR',
 516: 'Dallas, IA',
 517: 'Dallas, MO',
 518: 'Dallas, TX',
 519: 'Dane, WI',
 520: 'Danville, VA',
 521: 'Dare, NC',
 522: 'Darlington, SC',
 523: 'Dauphin, PA',
 524: 'Davidson, NC',
 525: 'Davidson, TN',
 526: 'Davie, NC',
 527: 'Daviess, IN',
 528: 'Daviess, KY',
 529: 'Daviess, MO',
 530: 'Davis, UT',
 531: 'Davison, SD',
 532: 'Dawson, GA',
 533: 'Dawson, MT',
 534: 'Dawson, NE',
 535: 'Dawson, TX',
 536: 'De Kalb, AL',
 537: 'De Kalb, GA',
 538: 'De Kalb, IN',
 539: 'De Kalb, MO',
 540: 'De Soto, FL',
 541: 'De Soto, LA',
 542: 'De Witt, TX',
 543: 'DeKalb, IL',
 544: 'DeKalb, TN',
 545: 'DeSoto, MS',
 546: 'Dearborn, IN',
 547: 'Decatur, GA',
 548: 'Decatur, IA',
 549: 'Decatur, TN',
 550: 'Deer Lodge, MT',
 551: 'Defiance, OH',
 552: 'Del Norte, CA',
 553: 'Delaware, IA',
 554: 'Delaware, IN',
 555: 'Delaware, NY',
 556: 'Delaware, OH',
 557: 'Delaware, OK',
 558: 'Delaware, PA',
 559: 'Delta, CO',
 560: 'Delta, MI',
 561: 'Dent, MO',
 562: 'Denton, TX',
 563: 'Denver, CO',
 564: 'Des Moines, IA',
 565: 'Deschutes, OR',
 566: 'Desha, AR',
 567: 'Deuel, NE',
 568: 'Dewey, SD',
 569: 'Dickenson, VA',
 570: 'Dickinson, IA',
 571: 'Dickinson, KS',
 572: 'Dickinson, MI',
 573: 'Dickson, TN',
 574: 'Dillingham, AK',
 575: 'Dillon, SC',
 576: 'Dimmit, TX',
 577: 'Dinwiddie, VA',
 578: 'District of Columbia',
 579: 'Dixie, FL',
 580: 'Dodge, GA',
 581: 'Dodge, MN',
 582: 'Dodge, WI',
 583: 'Dona Ana, NM',
 584: 'Doniphan, KS',
 585: 'Donley, TX',
 586: 'Dooly, GA',
 587: 'Door, WI',
 588: 'Dorchester, MD',
 589: 'Dorchester, SC',
 590: 'Dougherty, GA',
 591: 'Douglas, CO',
 592: 'Douglas, GA',
 593: 'Douglas, KS',
 594: 'Douglas, MN',
 595: 'Douglas, MO',
 596: 'Douglas, NE',
 597: 'Douglas, NV',
 598: 'Douglas, OR',
 599: 'Douglas, WA',
 600: 'Douglas, WI',
 601: 'Drew, AR',
 602: 'DuPage, IL',
 603: 'Dubois, IN',
 604: 'Dubuque, IA',
 605: 'Duchesne, UT',
 606: 'Dunklin, MO',
 607: 'Dunn, WI',
 608: 'Duplin, NC',
 609: 'Durham, NC',
 610: 'Dutchess, NY',
 611: 'Duval, FL',
 612: 'Duval, TX',
 613: 'Dyer, TN',
 614: 'Eagle, CO',
 615: 'East Baton Rouge, LA',
 616: 'East Carroll, LA',
 617: 'East Feliciana, LA',
 618: 'Eastland, TX',
 619: 'Eaton, MI',
 620: 'Eau Claire, WI',
 621: 'Ector, TX',
 622: 'Eddy, NM',
 623: 'Edgecombe, NC',
 624: 'Edgefield, SC',
 625: 'Edwards, KS',
 626: 'Effingham, GA',
 627: 'Effingham, IL',
 628: 'El Dorado, CA',
 629: 'El Paso, CO',
 630: 'El Paso, TX',
 631: 'Elbert, CO',
 632: 'Elbert, GA',
 633: 'Elk, PA',
 634: 'Elkhart, IN',
 635: 'Elko, NV',
 636: 'Ellis, KS',
 637: 'Ellis, TX',
 638: 'Ellsworth, KS',
 639: 'Elmore, AL',
 640: 'Elmore, ID',
 641: 'Emanuel, GA',
 642: 'Emery, UT',
 643: 'Emmet, MI',
 644: 'Emporia, VA',
 645: 'Erath, TX',
 646: 'Erie, NY',
 647: 'Erie, OH',
 648: 'Erie, PA',
 649: 'Escambia, AL',
 650: 'Escambia, FL',
 651: 'Essex, MA',
 652: 'Essex, NJ',
 653: 'Essex, NY',
 654: 'Essex, VT',
 655: 'Estill, KY',
 656: 'Etowah, AL',
 657: 'Evangeline, LA',
 658: 'Fairbanks North Star, AK',
 659: 'Fairfax, VA',
 660: 'Fairfield, CT',
 661: 'Fairfield, SC',
 662: 'Falls, TX',
 663: 'Fannin, GA',
 664: 'Fannin, TX',
 665: 'Faulkner, AR',
 666: 'Fauquier, VA',
 667: 'Fayette, GA',
 668: 'Fayette, IA',
 669: 'Fayette, KY',
 670: 'Fayette, OH',
 671: 'Fayette, PA',
 672: 'Fayette, TN',
 673: 'Fayette, TX',
 674: 'Fayette, WV',
 675: 'Fentress, TN',
 676: 'Fillmore, MN',
 677: 'Finney, KS',
 678: 'Fisher, TX',
 679: 'Flagler, FL',
 680: 'Flathead, MT',
 681: 'Florence, SC',
 682: 'Floyd, GA',
 683: 'Floyd, IA',
 684: 'Floyd, IN',
 685: 'Floyd, TX',
 686: 'Floyd, VA',
 687: 'Fluvanna, VA',
 688: 'Fond du Lac, WI',
 689: 'Ford, KS',
 690: 'Forest, WI',
 691: 'Forrest, MS',
 692: 'Forsyth, GA',
 693: 'Forsyth, NC',
 694: 'Fort Bend, TX',
 695: 'Franklin, AL',
 696: 'Franklin, AR',
 697: 'Franklin, FL',
 698: 'Franklin, GA',
 699: 'Franklin, ID',
 700: 'Franklin, IL',
 701: 'Franklin, IN',
 702: 'Franklin, KY',
 703: 'Franklin, LA',
 704: 'Franklin, MA',
 705: 'Franklin, ME',
 706: 'Franklin, MO',
 707: 'Franklin, NC',
 708: 'Franklin, NY',
 709: 'Franklin, OH',
 710: 'Franklin, PA',
 711: 'Franklin, TN',
 712: 'Franklin, TX',
 713: 'Franklin, VA',
 714: 'Franklin, VT',
 715: 'Franklin, WA',
 716: 'Frederick, MD',
 717: 'Frederick, VA',
 718: 'Fredericksburg, VA',
 719: 'Freeborn, MN',
 720: 'Freestone, TX',
 721: 'Fremont, CO',
 722: 'Fremont, WY',
 723: 'Fresno, CA',
 724: 'Frio, TX',
 725: 'Fulton, GA',
 726: 'Fulton, IL',
 727: 'Fulton, IN',
 728: 'Fulton, NY',
 729: 'Fulton, OH',
 730: 'Fulton, PA',
 731: 'Gadsden, FL',
 732: 'Gaines, TX',
 733: 'Galax, VA',
 734: 'Gallatin, MT',
 735: 'Gallia, OH',
 736: 'Galveston, TX',
 737: 'Garfield, CO',
 738: 'Garfield, OK',
 739: 'Garland, AR',
 740: 'Garrett, MD',
 741: 'Garvin, OK',
 742: 'Gasconade, MO',
 743: 'Gaston, NC',
 744: 'Geary, KS',
 745: 'Geauga, OH',
 746: 'Gem, ID',
 747: 'Genesee, MI',
 748: 'Genesee, NY',
 749: 'Geneva, AL',
 750: 'George, MS',
 751: 'Georgetown, SC',
 752: 'Gibson, IN',
 753: 'Gibson, TN',
 754: 'Gila, AZ',
 755: 'Gilchrist, FL',
 756: 'Giles, TN',
 757: 'Giles, VA',
 758: 'Gillespie, TX',
 759: 'Gilmer, GA',
 760: 'Gilmer, WV',
 761: 'Gilpin, CO',
 762: 'Glacier, MT',
 763: 'Gladwin, MI',
 764: 'Glenn, CA',
 765: 'Gloucester, NJ',
 766: 'Gloucester, VA',
 767: 'Glynn, GA',
 768: 'Golden Valley, ND',
 769: 'Goliad, TX',
 770: 'Gonzales, TX',
 771: 'Goochland, VA',
 772: 'Goodhue, MN',
 773: 'Gooding, ID',
 774: 'Gordon, GA',
 775: 'Goshen, WY',
 776: 'Gove, KS',
 777: 'Grady, GA',
 778: 'Grady, OK',
 779: 'Grafton, NH',
 780: 'Graham, AZ',
 781: 'Graham, KS',
 782: 'Graham, NC',
 783: 'Grainger, TN',
 784: 'Grand Forks, ND',
 785: 'Grand Isle, VT',
 786: 'Grand Traverse, MI',
 787: 'Grand, CO',
 788: 'Grand, UT',
 789: 'Grant, AR',
 790: 'Grant, IN',
 791: 'Grant, KS',
 792: 'Grant, KY',
 793: 'Grant, LA',
 794: 'Grant, WA',
 795: 'Grant, WI',
 796: 'Grant, WV',
 797: 'Granville, NC',
 798: 'Gratiot, MI',
 799: 'Graves, KY',
 800: 'Gray, TX',
 801: 'Grays Harbor, WA',
 802: 'Grayson, TX',
 803: 'Grayson, VA',
 804: 'Green Lake, WI',
 805: 'Greenbrier, WV',
 806: 'Greene, AL',
 807: 'Greene, AR',
 808: 'Greene, GA',
 809: 'Greene, IN',
 810: 'Greene, MO',
 811: 'Greene, NC',
 812: 'Greene, NY',
 813: 'Greene, OH',
 814: 'Greene, PA',
 815: 'Greene, TN',
 816: 'Greene, VA',
 817: 'Greensville, VA',
 818: 'Greenville, SC',
 819: 'Greenwood, KS',
 820: 'Greenwood, SC',
 821: 'Gregg, TX',
 822: 'Gregory, SD',
 823: 'Grenada, MS',
 824: 'Grimes, TX',
 825: 'Grundy, IL',
 826: 'Grundy, MO',
 827: 'Grundy, TN',
 828: 'Guadalupe, TX',
 829: 'Guernsey, OH',
 830: 'Guilford, NC',
 831: 'Gwinnett, GA',
 832: 'Habersham, GA',
 833: 'Hale, TX',
 834: 'Halifax, NC',
 835: 'Halifax, VA',
 836: 'Hall, GA',
 837: 'Hall, NE',
 838: 'Hall, TX',
 839: 'Hamblen, TN',
 840: 'Hamilton, FL',
 841: 'Hamilton, IN',
 842: 'Hamilton, OH',
 843: 'Hamilton, TN',
 844: 'Hampden, MA',
 845: 'Hampshire, MA',
 846: 'Hampton, SC',
 847: 'Hampton, VA',
 848: 'Hancock, IN',
 849: 'Hancock, ME',
 850: 'Hancock, MS',
 851: 'Hancock, OH',
 852: 'Hancock, WV',
 853: 'Hanover, VA',
 854: 'Haralson, GA',
 855: 'Hardee, FL',
 856: 'Hardeman, TN',
 857: 'Hardin, IA',
 858: 'Hardin, IL',
 859: 'Hardin, KY',
 860: 'Hardin, TN',
 861: 'Hardin, TX',
 862: 'Hardy, WV',
 863: 'Harford, MD',
 864: 'Harlan, KY',
 865: 'Harnett, NC',
 866: 'Harney, OR',
 867: 'Harris, TX',
 868: 'Harrison, KY',
 869: 'Harrison, MS',
 870: 'Harrison, TX',
 871: 'Harrison, WV',
 872: 'Harrisonburg, VA',
 873: 'Hart, GA',
 874: 'Hartford, CT',
 875: 'Hartley, TX',
 876: 'Harvey, KS',
 877: 'Hawaii, HI',
 878: 'Hawkins, TN',
 879: 'Hays, TX',
 880: 'Haywood, NC',
 881: 'Haywood, TN',
 882: 'Hempstead, AR',
 883: 'Henderson, KY',
 884: 'Henderson, NC',
 885: 'Henderson, TN',
 886: 'Henderson, TX',
 887: 'Hendricks, IN',
 888: 'Hendry, FL',
 889: 'Hennepin, MN',
 890: 'Henrico, VA',
 891: 'Henry, GA',
 892: 'Henry, IL',
 893: 'Henry, IN',
 894: 'Henry, KY',
 895: 'Henry, MO',
 896: 'Henry, OH',
 897: 'Henry, TN',
 898: 'Henry, VA',
 899: 'Herkimer, NY',
 900: 'Hernando, FL',
 901: 'Hertford, NC',
 902: 'Hickman, TN',
 903: 'Hidalgo, TX',
 904: 'Highland, OH',
 905: 'Highland, VA',
 906: 'Highlands, FL',
 907: 'Hill, MT',
 908: 'Hill, TX',
 909: 'Hillsborough, FL',
 910: 'Hillsborough, NH',
 911: 'Hillsdale, MI',
 912: 'Hinds, MS',
 913: 'Hitchcock, NE',
 914: 'Hocking, OH',
 915: 'Hockley, TX',
 916: 'Hoke, NC',
 917: 'Holmes, OH',
 918: 'Holt, NE',
 919: 'Honolulu, HI',
 920: 'Hood, TX',
 921: 'Hopewell, VA',
 922: 'Hopkins, KY',
 923: 'Hopkins, TX',
 924: 'Horry, SC',
 925: 'Hot Spring, AR',
 926: 'Hot Springs, WY',
 927: 'Houghton, MI',
 928: 'Houston, AL',
 929: 'Houston, GA',
 930: 'Houston, MN',
 931: 'Houston, TX',
 932: 'Howard, AR',
 933: 'Howard, IA',
 934: 'Howard, IN',
 935: 'Howard, MD',
 936: 'Howard, MO',
 937: 'Howard, TX',
 938: 'Howell, MO',
 939: 'Hudson, NJ',
 940: 'Huerfano, CO',
 941: 'Hughes, OK',
 942: 'Hughes, SD',
 943: 'Humboldt, CA',
 944: 'Humboldt, IA',
 945: 'Humboldt, NV',
 946: 'Humphreys, TN',
 947: 'Hunt, TX',
 948: 'Hunterdon, NJ',
 949: 'Huntingdon, PA',
 950: 'Huron, MI',
 951: 'Hutchinson, TX',
 952: 'Iberville, LA',
 953: 'Imperial, CA',
 954: 'Independence, AR',
 955: 'Indian River, FL',

In [12]:
MLData['LocationLabel'] = location_labels
MLData.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         CNTYFIPS Solved     Month  ...  Relationship SolvedLabel LocationLabel
0   Anchorage, AK    Yes   January  ...        Sister           1            41
1   Anchorage, AK    Yes   January  ...        Sister           1            41
2   Anchorage, AK    Yes   January  ...      Stranger           1            41
3   Anchorage, AK    Yes   January  ...          Wife           1            41
6   Anchorage, AK    Yes   January  ...           Son           1            41
7   Anchorage, AK    Yes  February  ...      Stranger           1            41
9   Anchorage, AK    Yes     March  ...        Friend           1            41
10  Anchorage, AK    Yes       May  ...      Stranger           1            41
11  Anchorage, AK    Yes       May  ...    Girlfriend           1            41
12  Anchorage, AK    Yes      June  ...  Acquaintance           1            41

[10 rows x 9 columns]

In [13]:
#Month encoding
Month = np.unique(MLData['Month'])
Month

array(['April', 'August', 'December', 'February', 'January', 'July',
       'June', 'March', 'May', 'November', 'October', 'September'],
      dtype=object)

In [14]:
mle = LabelEncoder()
month_labels = mle.fit_transform(MLData['Month'])
month_mappings = {index: label for index, label in 
                  enumerate(mle.classes_)}
month_mappings

{0: 'April',
 1: 'August',
 2: 'December',
 3: 'February',
 4: 'January',
 5: 'July',
 6: 'June',
 7: 'March',
 8: 'May',
 9: 'November',
 10: 'October',
 11: 'September'}

In [15]:
MLData['MonthLabel'] = month_labels
MLData.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         CNTYFIPS Solved     Month  ...  SolvedLabel LocationLabel MonthLabel
0   Anchorage, AK    Yes   January  ...            1            41          4
1   Anchorage, AK    Yes   January  ...            1            41          4
2   Anchorage, AK    Yes   January  ...            1            41          4
3   Anchorage, AK    Yes   January  ...            1            41          4
6   Anchorage, AK    Yes   January  ...            1            41          4
7   Anchorage, AK    Yes  February  ...            1            41          3
9   Anchorage, AK    Yes     March  ...            1            41          7
10  Anchorage, AK    Yes       May  ...            1            41          8
11  Anchorage, AK    Yes       May  ...            1            41          8
12  Anchorage, AK    Yes      June  ...            1            41          6

[10 rows x 10 columns]

skipping VicAge due to it already being a numerical value

In [16]:
#OffSex encoding
Gender = np.unique(MLData['OffSex'])
Gender

array(['Female', 'Male'], dtype=object)

In [17]:
gle = LabelEncoder()
gender_labels = gle.fit_transform(MLData['OffSex'])
gender_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
gender_mappings

{0: 'Female', 1: 'Male'}

In [18]:
MLData['GenderLabel'] = gender_labels
MLData.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         CNTYFIPS Solved     Month  ...  LocationLabel MonthLabel GenderLabel
0   Anchorage, AK    Yes   January  ...             41          4           1
1   Anchorage, AK    Yes   January  ...             41          4           1
2   Anchorage, AK    Yes   January  ...             41          4           1
3   Anchorage, AK    Yes   January  ...             41          4           1
6   Anchorage, AK    Yes   January  ...             41          4           0
7   Anchorage, AK    Yes  February  ...             41          3           1
9   Anchorage, AK    Yes     March  ...             41          7           1
10  Anchorage, AK    Yes       May  ...             41          8           1
11  Anchorage, AK    Yes       May  ...             41          8           1
12  Anchorage, AK    Yes      June  ...             41          6           1

[10 rows x 11 columns]

In [19]:
#Weapon encoding
Weapon = np.unique(MLData['Weapon'])
Weapon

array(['Asphyxiation - includes death by gas',
       'Blunt object - hammer, club, etc', 'Drowning', 'Explosives',
       'Fire', 'Firearm, type not stated',
       'Handgun - pistol, revolver, etc', 'Knife or cutting instrument',
       'Narcotics or drugs, sleeping pills', 'Other gun',
       'Other or type unknown', 'Personal weapons, includes beating',
       'Poison - does not include gas', 'Pushed or thrown out window',
       'Rifle', 'Shotgun', 'Strangulation - hanging'], dtype=object)

In [20]:
wle = LabelEncoder()
weapon_labels = wle.fit_transform(MLData['Weapon'])
weapon_mappings = {index: label for index, label in 
                  enumerate(wle.classes_)}
weapon_mappings

{0: 'Asphyxiation - includes death by gas',
 1: 'Blunt object - hammer, club, etc',
 2: 'Drowning',
 3: 'Explosives',
 4: 'Fire',
 5: 'Firearm, type not stated',
 6: 'Handgun - pistol, revolver, etc',
 7: 'Knife or cutting instrument',
 8: 'Narcotics or drugs, sleeping pills',
 9: 'Other gun',
 10: 'Other or type unknown',
 11: 'Personal weapons, includes beating',
 12: 'Poison - does not include gas',
 13: 'Pushed or thrown out window',
 14: 'Rifle',
 15: 'Shotgun',
 16: 'Strangulation - hanging'}

In [21]:
MLData['WeaponLabel'] = weapon_labels
MLData.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         CNTYFIPS Solved     Month  ...  MonthLabel GenderLabel WeaponLabel
0   Anchorage, AK    Yes   January  ...           4           1           5
1   Anchorage, AK    Yes   January  ...           4           1           5
2   Anchorage, AK    Yes   January  ...           4           1           5
3   Anchorage, AK    Yes   January  ...           4           1          10
6   Anchorage, AK    Yes   January  ...           4           0           6
7   Anchorage, AK    Yes  February  ...           3           1           5
9   Anchorage, AK    Yes     March  ...           7           1           5
10  Anchorage, AK    Yes       May  ...           8           1           5
11  Anchorage, AK    Yes       May  ...           8           1          16
12  Anchorage, AK    Yes      June  ...           6           1           5

[10 rows x 12 columns]

In [22]:
#Relationship encoding
Relationship = np.unique(MLData['Relationship'])
Relationship

array(['Acquaintance', 'Boyfriend', 'Brother', 'Common-law husband',
       'Common-law wife', 'Daughter', 'Employee', 'Employer',
       'Ex-husband', 'Ex-wife', 'Father', 'Friend', 'Girlfriend',
       'Homosexual relationship', 'Husband', 'In-law', 'Mother',
       'Neighbor', 'Other - known to victim', 'Other family',
       'Relationship not determined', 'Sister', 'Son', 'Stepdaughter',
       'Stepfather', 'Stepmother', 'Stepson', 'Stranger', 'Wife'],
      dtype=object)

In [23]:
rle = LabelEncoder()
relationship_labels = rle.fit_transform(MLData['Relationship'])
relationship_mappings = {index: label for index, label in 
                  enumerate(rle.classes_)}
relationship_mappings

{0: 'Acquaintance',
 1: 'Boyfriend',
 2: 'Brother',
 3: 'Common-law husband',
 4: 'Common-law wife',
 5: 'Daughter',
 6: 'Employee',
 7: 'Employer',
 8: 'Ex-husband',
 9: 'Ex-wife',
 10: 'Father',
 11: 'Friend',
 12: 'Girlfriend',
 13: 'Homosexual relationship',
 14: 'Husband',
 15: 'In-law',
 16: 'Mother',
 17: 'Neighbor',
 18: 'Other - known to victim',
 19: 'Other family',
 20: 'Relationship not determined',
 21: 'Sister',
 22: 'Son',
 23: 'Stepdaughter',
 24: 'Stepfather',
 25: 'Stepmother',
 26: 'Stepson',
 27: 'Stranger',
 28: 'Wife'}

In [24]:
MLData['RelationshipLabel'] = relationship_labels
MLData.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         CNTYFIPS Solved     Month  ...  GenderLabel WeaponLabel RelationshipLabel
0   Anchorage, AK    Yes   January  ...            1           5                21
1   Anchorage, AK    Yes   January  ...            1           5                21
2   Anchorage, AK    Yes   January  ...            1           5                27
3   Anchorage, AK    Yes   January  ...            1          10                28
6   Anchorage, AK    Yes   January  ...            0           6                22
7   Anchorage, AK    Yes  February  ...            1           5                27
9   Anchorage, AK    Yes     March  ...            1           5                11
10  Anchorage, AK    Yes       May  ...            1           5                27
11  Anchorage, AK    Yes       May  ...            1          16                12
12  Anchorage, AK    Yes      June  ...            1           5                 0

[10 rows x 13 columns]

In [25]:
#Split Dataframe to encoded/non encoded
encoded_DF = MLData[["SolvedLabel", "LocationLabel", "MonthLabel", "GenderLabel", "WeaponLabel", "RelationshipLabel"]]
encoded_DF.head()

   SolvedLabel  LocationLabel  ...  WeaponLabel  RelationshipLabel
0            1             41  ...            5                 21
1            1             41  ...            5                 21
2            1             41  ...            5                 27
3            1             41  ...           10                 28
6            1             41  ...            6                 22

[5 rows x 6 columns]

Which Gender is most likely to murder you?

In [26]:
X = encoded_DF.drop("GenderLabel", axis=1)
y = encoded_DF["GenderLabel"]
print(X.shape, y.shape)

(47416, 5) (47416,)

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [28]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [30]:
# Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [31]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=5))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [32]:
 # Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [33]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               600
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 202
=================================================================
Total params: 10,902
Trainable params: 10,902
Non-trainable params: 0
_________________________________________________________________

In [34]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
1112/1112 - 2s - loss: 0.3312 - accuracy: 0.8950
Epoch 2/60
1112/1112 - 1s - loss: 0.3237 - accuracy: 0.8957
Epoch 3/60
1112/1112 - 1s - loss: 0.3128 - accuracy: 0.8958
Epoch 4/60
1112/1112 - 1s - loss: 0.3010 - accuracy: 0.8998
Epoch 5/60
1112/1112 - 1s - loss: 0.2975 - accuracy: 0.9018
Epoch 6/60
1112/1112 - 1s - loss: 0.2963 - accuracy: 0.9023
Epoch 7/60
1112/1112 - 1s - loss: 0.2952 - accuracy: 0.9035
Epoch 8/60
1112/1112 - 1s - loss: 0.2944 - accuracy: 0.9040
Epoch 9/60
1112/1112 - 1s - loss: 0.2932 - accuracy: 0.9046
Epoch 10/60
1112/1112 - 1s - loss: 0.2924 - accuracy: 0.9045
Epoch 11/60
1112/1112 - 1s - loss: 0.2918 - accuracy: 0.9053
Epoch 12/60
1112/1112 - 1s - loss: 0.2907 - accuracy: 0.9058
Epoch 13/60
1112/1112 - 1s - loss: 0.2903 - accuracy: 0.9061
Epoch 14/60
1112/1112 - 1s - loss: 0.2894 - accuracy: 0.9063
Epoch 15/60
1112/1112 - 1s - loss: 0.2891 - accuracy: 0.9068
Epoch 16/60
1112/1112 - 1s - loss: 0.2885 - accuracy: 0.9070
Epoch 17/60
1112/1112 - 1s - loss: 0.2885 - accuracy: 0.9069
Epoch 18/60
1112/1112 - 1s - loss: 0.2878 - accuracy: 0.9073
Epoch 19/60
1112/1112 - 1s - loss: 0.2877 - accuracy: 0.9077
Epoch 20/60
1112/1112 - 1s - loss: 0.2874 - accuracy: 0.9073
Epoch 21/60
1112/1112 - 1s - loss: 0.2872 - accuracy: 0.9077
Epoch 22/60
1112/1112 - 1s - loss: 0.2870 - accuracy: 0.9076
Epoch 23/60
1112/1112 - 1s - loss: 0.2869 - accuracy: 0.9078
Epoch 24/60
1112/1112 - 1s - loss: 0.2861 - accuracy: 0.9077
Epoch 25/60
1112/1112 - 1s - loss: 0.2861 - accuracy: 0.9077
Epoch 26/60
1112/1112 - 1s - loss: 0.2860 - accuracy: 0.9077
Epoch 27/60
1112/1112 - 1s - loss: 0.2861 - accuracy: 0.9077
Epoch 28/60
1112/1112 - 1s - loss: 0.2852 - accuracy: 0.9076
Epoch 29/60
1112/1112 - 1s - loss: 0.2851 - accuracy: 0.9075
Epoch 30/60
1112/1112 - 1s - loss: 0.2843 - accuracy: 0.9080
Epoch 31/60
1112/1112 - 1s - loss: 0.2841 - accuracy: 0.9082
Epoch 32/60
1112/1112 - 1s - loss: 0.2827 - accuracy: 0.9079
Epoch 33/60
1112/1112 - 1s - loss: 0.2822 - accuracy: 0.9083
Epoch 34/60
1112/1112 - 1s - loss: 0.2805 - accuracy: 0.9083
Epoch 35/60
1112/1112 - 1s - loss: 0.2797 - accuracy: 0.9080
Epoch 36/60
1112/1112 - 1s - loss: 0.2790 - accuracy: 0.9081
Epoch 37/60
1112/1112 - 1s - loss: 0.2771 - accuracy: 0.9084
Epoch 38/60
1112/1112 - 1s - loss: 0.2761 - accuracy: 0.9086
Epoch 39/60
1112/1112 - 1s - loss: 0.2752 - accuracy: 0.9086
Epoch 40/60
1112/1112 - 1s - loss: 0.2736 - accuracy: 0.9086
Epoch 41/60
1112/1112 - 1s - loss: 0.2721 - accuracy: 0.9087
Epoch 42/60
1112/1112 - 1s - loss: 0.2706 - accuracy: 0.9091
Epoch 43/60
1112/1112 - 1s - loss: 0.2702 - accuracy: 0.9104
Epoch 44/60
1112/1112 - 1s - loss: 0.2693 - accuracy: 0.9127
Epoch 45/60
1112/1112 - 1s - loss: 0.2685 - accuracy: 0.9132
Epoch 46/60
1112/1112 - 1s - loss: 0.2675 - accuracy: 0.9141
Epoch 47/60
1112/1112 - 1s - loss: 0.2673 - accuracy: 0.9137
Epoch 48/60
1112/1112 - 1s - loss: 0.2667 - accuracy: 0.9144
Epoch 49/60
1112/1112 - 1s - loss: 0.2663 - accuracy: 0.9148
Epoch 50/60
1112/1112 - 1s - loss: 0.2653 - accuracy: 0.9145
Epoch 51/60
1112/1112 - 1s - loss: 0.2651 - accuracy: 0.9143
Epoch 52/60
1112/1112 - 1s - loss: 0.2645 - accuracy: 0.9150
Epoch 53/60
1112/1112 - 1s - loss: 0.2642 - accuracy: 0.9149
Epoch 54/60
1112/1112 - 1s - loss: 0.2643 - accuracy: 0.9150
Epoch 55/60
1112/1112 - 1s - loss: 0.2627 - accuracy: 0.9149
Epoch 56/60
1112/1112 - 1s - loss: 0.2627 - accuracy: 0.9150
Epoch 57/60
1112/1112 - 1s - loss: 0.2628 - accuracy: 0.9148
Epoch 58/60
1112/1112 - 1s - loss: 0.2619 - accuracy: 0.9142
Epoch 59/60
1112/1112 - 1s - loss: 0.2622 - accuracy: 0.9154
Epoch 60/60
1112/1112 - 1s - loss: 0.2618 - accuracy: 0.9147

In [35]:
#Quantify our trained Gender Model
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

371/371 - 0s - loss: 0.2651 - accuracy: 0.9132
Normal Neural Network - Loss: 0.26506975293159485, Accuracy: 0.9131938815116882

In [36]:
#Make Prediction for the Gender of our Murderer
encoded_predictions = np.argmax(model.predict(X_test_scaled[:5]), axis = -1)
prediction_labels = gle.inverse_transform(encoded_predictions)

In [37]:
#Gender map reminder
print(gender_mappings)

{0: 'Female', 1: 'Male'}

In [38]:
print(f"Predicted Gender: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted Gender: ['Male' 'Female' 'Male' 'Male' 'Male']
Actual Labels: [1, 0, 1, 1, 1]